.about-cards{
    position:relative;
}
.about-cards .w-image{
    transition: opacity ease .3s;
}
.about-cards:hover .w-image{
    opacity:.2;
}
.about-cards h1{
    position:absolute;
    top:30%;
    right:0;
    left:0;
    text-align:center;
    z-index:1
}

.about-cards .w-btn{
    position: absolute;
    bottom: 30px;
    right: 30px;
    left: 30px;
}
.about-cards .w-btn.color_secondary.style_outlined:before{
    background-color: transparent;
}

.page-id-7 .btn-primary{
	background-color:#ee3426 !important;
}

/*
Milestones
*/
#container-milestones {
    margin: 55vh 0;
    padding: 50px;
    outline: 1px dashed orange;
}

#block-milestones {
    padding: 10px;
    border: 1px solid black;
    font-family: Helvetica;
}

.tab-awards .stretch{
	background-color: #333 !important;
}
.tab-awards .w-tabs-item.active{
	background-color: #ee2e24;
}

/* .more-about-us-section .l-section-h{
	padding-bottom:0;
}
.more-about-us-section h3{
    margin-bottom:30px !important;
    color:#ee2e24;
    font-weight:bold;
} */
.about-us-landing-cards img { width:100%; }
@media only screen and (max-width:768px){
.about-cards h1{
	font-size:28px;
}
.about-cards .w-btn{
	bottom:7%;
	line-height:35px;
}
}
@media only screen and (max-width:600px){
.awards-logo-section .wpb_column{
	height:45vw;
	position:relative;
}
.awards-logo-section .wpb_column img{
	width:30vw;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}