.bg-section h5.w-tabs-section-title{
    color:#4e5663 !important;
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
}
.bg-section .w-tabs-section-control{
    color:#ee2e24 !important;
}
.bg-section .w-tabs-section.active .w-tabs-section-control{
    color:#4e5663!important;
}
.bg-section ul li{
    margin: 0 0 0.5rem;
}
.bg-section .bg-loan ul li>div{
    min-width:100px;
    display: inline-block;
}
.bg-section .bg-loan ul li .note{
    width: 80%;
    position: relative;
}
.bg-section .bg-loan ul li .note:before {
    content: '- ';
    position: absolute;
    left: -10px;
}
.bg-section .bg-loan ul.inner-list{
    padding-left: 11rem;
    margin-bottom: 0;
}
.bg-section table td{
    color:#909090;
}
.bg-section table{
    text-align: center;
}
.bg-section ol.numbering li{
    padding:2% 0;
}

/*gst-registration-no*/
.gstTable td{
    border: 1px solid #000000;
}