.checkboxfake input:checked+.fake {
    background: url(../img/icon/icons.png) -317px -38px no-repeat #fff;
}
.checkboxfake .fake {
    height: 26px;
    width: 26px;
}
.checkboxfake .fake {
    display: inline-block;
    height: 18px;
    width: 18px;
    float: left;
    background: #fff;
    margin-right: 10px;
}
.checkboxfake {
    position: relative;
    line-height: 13px;
    margin: 0;
    color: #333;
    font-weight: 600;
	padding-left: 20px;
    line-height: 18px;
    white-space: nowrap;
	font-family: Lato;
}
.checkboxfake input {
    opacity: 0;
    position: absolute;
}