.collection-card.element-item{
	margin: 0;

}
.collection-card .element-item{

	//position: relative !important;
}
.collection-card.svc_post_grid .element-item:nth-child(3n+3){
margin-right:0;
}
.collection-card.svc_post_grid .element-item:nth-child(1){
margin-left:0;
}
.collection-card.svc_post_grid  .svc-col-md-4{
	width:29.3%;
}
.collection-card.svc_post_grid article {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin: 3%;
    margin-bottom: 10px;
    padding-bottom: 0px;
    position: relative;
    overflow: hidden;
    float: left;
    height: auto;
}
div.svc_post_grid article:hover .svc_post_image{
    opacity: 1 !important;
}
.collection-card .overlay{
    position: absolute;
    background: #000;
    width: 100%;
    height: 500px;
    z-index: 999;
    opacity: .7;
    bottom: 0;
}
.collection-card div.svc_post_grid_s4 article {
    border-top: 0px solid #ff664e;
}
.card-title{
    background: #1aa899;
    margin: 0;
    padding: 10px 15px;
    text-align: left;
	min-height: 100px;
}

.card-title2{
	min-height: 40px;
}
.card-title.grey{
    background: #555 !important;

}
.card-title h5{
	color: #fff;
    font-size: 22px;
    font-family: Lato;
    font-weight: 600;
    margin: 0;
}
.card-title  p{
	color: #fff;
    font-size: 22px;
	margin-bottom: 0;
}
.card-info{
	padding: 6px 15px;
    color: #a6a6a6;
    width: 100%;
}
.card-info p{
	font-size: 13px;
    color: #a6a6a6;
    line-height: 15px;
}
.card-info .list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 13px;
    line-height: 13px;
    min-width: 40%;
}
.card-info .list-inline>li:first-child{
	border-right: 2px solid #ddd;
}
.card-info .list-inline>li:last-child{
	padding-left: 30px;
}
.card-info-box {
	width: 92%;
    border: 1px solid #d7d7d7;
    padding: 5px 10px;
    margin: 2% 4%;
}
.card-info-box div {
    text-align: left;
    color: #a6a6a6;
    font-size: 13px;
    padding: 2px 0px;
}
.card-info-box div:last-child {
	padding-left:10px;
}
.card-info-box div:first-child {
	border-right: 1px solid #d7d7d7;
}
.card-info-box  p{
	font-size: 13px;
	color: #a6a6a6;
	font-family: Lato;
	
}
.card-info-box strong{
	color: #333333;
    font-size: 15px;
}	
div.svc_post_grid_s4 article section .card-info-box p {
    line-height: 1.3em;
    font-size: 13px;
    margin-bottom: 10px;
    text-align: left;
}
.card-info-phone{
	width: 100%;
	float: left;
	padding: 5px;
}
.card-info-phone img{
	width: 26px;
	height: auto;
	margin: -3px 5px 0;
}
.collection-card.svc_post_grid_s4 article section .card-info-phone p {
    line-height: 1.3em;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Lato;
    font-weight: 600;
    color: #333;
    margin: 5px 5px 8px;

}
.collection-card.svc_post_grid_s4 article section {
    padding: 0 2%;
    display: inline-block;
    width: 100%;
	border-bottom: 0px;
}
.card-info-more{
	width: 100%;
	
}
.card-info-more div{
	padding: 0 0;
}
.collection-card .btn-red, div.svc_post_grid_s5 .btn-red {
    font-size: 13px;
    text-transform: uppercase;
    padding: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    z-index: 0;
    transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 36px;
    line-height: normal;
	color: #fff;
}
.collection-card .btn-red:hover{
	background: #a51810;
}
.card-info-more a {
    text-transform: uppercase;
    line-height: 36px;
    font-weight: bold;
}
.g-filters.style_custom{
    text-align: center;
    position: relative;
    right: 0;
    margin-top: -40px;
    margin-bottom: 20px;
}
.g-filters-list_custom{
    background: none;
    text-align: right;
}
.g-filters-list_custom .g-filters-item {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all 0.2s;
    padding: 0 10px;
    border-right: 1px solid #ddd;
	text-transform: uppercase;
	font-size: 12px;
}
.g-filters-list_custom .g-filters-item:last-child {
border-right: 0px solid #ddd;
}
.g-filters-list_custom .g-filters-item :hover, .no-touch .g-filters-list_custom .g-filters-item:hover{
	background: none !important;
}
.g-filters-list_custom .g-filters-item.active, .g-filters-list_custom .g-filters-item :hover{
	color: #58c0b5;
	background: none !important;
	font-weight:700;
}
/* sepi */
.card-info-phone.w6 {
    width: 60%;
}
.card-info-phone strong {
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
a.w-btn.register-btn {
    background-color: #ffffff;
    color: #ee3426;
    font-family: Lato;
    font-weight: bold;
    border: 2px solid #ee3426!important;
}
a.w-btn.enquire-btn {
    background-color: #ee3426;
    color: #ffffff;
    font-family: Lato;
    font-weight: bold;
    border: 2px solid #ee3426!important;
}
.direction-menu {
    font-family: Lato;
}
.overview-text {
    font-family: Lato;
    color: #333333;
    font-size: 16px;
}
.vector-position img{
    margin-right: 2%;
}
.collection-card.svc_post_grid .element-item:nth-child(4){
    margin-left:0;
}
.collection-card.svc_post_grid .element-item:nth-child(7){
    margin-left:0;
}
.collection-card.svc_post_grid .element-item:nth-child(10){
    margin-left:0;
}
.collection-card.svc_post_grid .element-item:nth-child(13){
    margin-left:0;
}
.collection-card.svc_post_grid .element-item:nth-child(16){
    margin-left:0;
}
.collection-card.svc_post_grid .element-item:nth-child(19){
    margin-left:0;
}
/* Fizah */
.collection-card .robertson .card-title {
	background-color: #411469;
}
.collection-card .jadehill .card-title {
	background-color: #e4cb4d;
}
.collection-card .horizonhills .card-title {
	background-color: #da891f;
}
.collection-card header{
	position: relative !IMPORTANT;
}
div.svc_post_grid_s5 article section .card-info-phone p {
    line-height: 1.3em;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Lato;
    font-weight: 600;
    color: #333;
    margin: 5px 5px 8px;

}
div.svc_post_grid_s5 article section {
    padding: 0 2%;
    display: inline-block;
    width: 100%;
	border-bottom: 0px;
    position: relative !important;
}
.project-row .project-card-button{
	padding-right:25px !important;
}
.project-row .svc_post_grid_s5 .svc-col-md-4{
	width:32.3%;
}
.project-row .g-cols.offset_small > div{
	padding-right:0;
}

@media only screen and (max-width:1024px){
.card-title h5 { font-size:20px; line-height:24px; }
.card-title p { font-size:18px; line-height:24px; }
}

@media only screen and (max-width:768px) {
.card-info-phone.w6{ width:100%; }
}
@media (min-width: 768px) and (max-width:1024px){
.collection-card.cc-highpark-suites .owl-wrapper { width:100% !important; }
.collection-card.cc-highpark-suites .owl-wrapper .owl-item { width:33.3% !important }
}