
.contact-us{
    background-image: url(http://128.199.89.40/wp-content/uploads/2016/07/rec2.png?id=396) !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.contact-add .contact-add-separator{
	border-bottom:2px #fff solid;
	width:50%;
	height:2px;
	display:inline-block;
	background-color:#fff;
	margin-left:15px;
}
.contact-add .contact-add-top{
	padding:15px;
}
.contact-add .contact-add-bottom{
	padding:40px 15px 15px 15px;
}
.directory-gallery{
    height:150px;
}
.directory-text{
	min-height:290px;
}
.directory-text p{
    font-size: 15px;
}
@media (max-width:600px){
.page-id-13 .mouse{
	display:none;
}
	
}
@media (min-width:600px) and (max-width:768px){
.contact-add{
	display:flex;
}
.contact-add .contact-add-top{
	padding:inherit;
	padding-right:20px;
}
.contact-add .contact-add-bottom{
	padding:inherit;
	padding-left:30px;
	vertical-align:top;
}
.contact-add .contact-add-top, .contact-add .contact-add-bottom{
	width:49.5%;
	display:inline-block;
}
.contact-add .contact-add-separator{
	width:2px;
	margin-left:0;
	padding-top:25px;
	padding-bottom:25px;
	height:70%;
}
}