
.red-divider {
    height: 35px;
    position: relative;
}
.article-like {
    font-family: Lato;
    font-size: 17px;
}
.card-info-phone p img {
    display: inline-block!important;
    width: 26px!important;
}
.news header {
    position: relative !important;
}
div.svc_post_grid_s1 article header {
    border-bottom: none !important;
}
.next-arrow {
    position: absolute;
    right: 0;
}
.latest-news .svc_title, .page-id-2810 .svc_title, .svc_post_grid_s1 > article > section > p a{
    color: #000!important;
    font-weight: 700!important;
    padding-bottom: 20px;
}
.svc_info, .page-id-2810 .svc_info {
    color: #000!important;
    font-size: 15px!important;
    font-weight: 500!important;
}