.news-inner, .events-inner{
    padding-bottom: 0px !important;
}
.news-inner .g-cols.offset_none > div, .events-inner .g-cols.offset_none > div{
	float:left;
}
.news-inner .news-btn{
    width: 100px ;
	margin-left:2.5px;
    border-top-left-radius: 9px ;
    border-top-right-radius: 9px ;
    background-color: rgb(238, 46, 36);

}

.events-inner .events-btn{
    width: 100px ;
	margin-left:2.5px;
    border-top-left-radius: 9px ;
    border-top-right-radius: 9px ;
    background-color: #333333;
}

.news-inner .news-btn p, .events-inner .events-btn p{
    padding: 10px 10px 10px 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.happenings-main-wrap, .news-inner, .events-inner, .happenings-page-breadcrumbs{
	padding-left:25px !important;
	padding-right:25px !important;
}
.happenings-main-wrap .card-info-more a:hover { color:#ee2e24; }
/* .happenings-feat-dev article header > a { pointer-events:none; }  */
.happenings-box{
	position:relative;
}
.happenings-description-lg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 8% 5%;
}
.happenings-description{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10% 8%;
}
.happenings-description-lg h2, .happenings-description-lg p, .happenings-description-lg a, .happenings-description p, .happenings-description a{
	color:#fff;
}
.happenings-description-lg a{
    border: 2px solid #fff;
    padding: 1.5% 7%;
	margin-top:15px;
	float:left;
}
@media only screen and (max-width:768px){
.happenings-col-main{
	height:400px;
	overflow:hidden;
}
.happenings-main-wrap, .news-inner, .events-inner, .happenings-page-breadcrumbs{
	padding-left:15px !important;
	padding-right:15px !important;
}
.happenings-main-wrap img{
	width:100%;
}
.happenings-col-main img{
	margin-top:-200px;
}
.happenings-main-wrap .g-cols.offset_none > div{
	display:block !important;
	padding:0 !important;
}
.happenings-main-wrap .g-cols.offset_none > div.happenings-col1{
	float:left !important;
}
.happenings-main-wrap .g-cols.offset_none > div.happenings-col2{
	float:left !important;
}
}
.happenings-description-lg p, .happenings-description-lg a{
	font-size:15px;
}
.happenings-feat-dev article{
	width:32.8%;
	margin:0.5% !important;
}
@media only screen and (max-width:414px){
.happenings-description-lg h2{
	font-size: 6.5vw;
    line-height: 7.5vw;
}
.happenings-col-main{
	height:100%;
	overflow:inherit;
}
.happenings-col-main img{
	margin-top:0;
}
.happenings-feat-dev article{
	width:100%;
	margin:0.5% !important;
}
}