.happenings-sub-nav{
	max-width:1200px;
	margin:0 auto !important;
}
div.svc_post_grid article {
    margin-left: 0!important;
}
.page-id-2810 .svc_fl, .page-id-4158 .svc_fl, .page-id-4169 .svc_fl  {
    display: none!important;
}
.page-id-2810 .dd-select, .page-id-4158 .dd-select, .page-id-4169 .dd-select {
    width: 150px!important;
    background: transparent !important;
    float: right;
    border: 1px solid #000;
    border-radius: 0;
    margin-right: -10px;
    padding: 3px 10px !important;
}
.page-id-2810 a.dd-selected, .page-id-4158 a.dd-selected, .page-id-4169 a.dd-selected {
    color: #000000;
}
.page-id-2810 label.dd-selected-text, .page-id-4158 label.dd-selected-text, .page-id-4169 label.dd-selected-text {
    font-weight: normal !important;
    padding-left: 5%;
    margin-bottom: 0;
}
.page-id-2810 .news-icon h3, .page-id-4158 .news-icon h3, .page-id-4169 .news-icon h3 {
    margin: 0;
    position: absolute;
}
.page-id-2810 .separator-happening, .page-id-4158 .separator-happening, .page-id-4169 .separator-happening {
    margin: 70px 0 0!important;
}
.page-id-2810 .l-section.height_small .l-section-h, .page-id-4158 .l-section.height_small .l-section-h, .page-id-4169 .l-section.height_small .l-section-h {
    padding: 30px 0 0;
}
.nomargin-top h3 {
    margin-top: 0px;
}