.ui-mobile .ui-page-active::-webkit-scrollbar { display: none; }
.mobile-milestones { padding-bottom:100px; }
.mobile-header-test {
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0; left: 0;
    margin: 0;
    z-index: 10;
}
.mobile-swipe-nav {
    width: 100%;
    height: 50px;
    background-color: #333;
    position: fixed;
    overflow-y: hidden;
    top: 50px; left: 0;
    margin: 0;
    z-index: 10;
}
.mobile-swipe-nav ul {
    width: 260%;
    margin-left: 0;
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.mobile-swipe-nav ul li {
    width: 7.7%;
    height: 50px;
    float: left;
    text-align: center;
    display: table;
    position: relative;
}
.mobile-swipe-nav ul li a {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #707070;
    padding-bottom: 10px;
}
.mobile-swipe-nav ul li a:active,
.mobile-swipe-nav ul li a:focus
.mobile-swipe-nav ul li a:hover
.mobile-swipe-nav ul li a:visited { color: white; }
.mobile-swipe-nav::-webkit-scrollbar { display: none; }
.mobile-swipe-nav ul::-webkit-scrollbar { display: none; }
.mobile-swipe-nav .active {
    background-image: url('/wp-content/themes/Impreza-child/img/mobile-swipe-nav-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: center center;
}
.mobile-swipe-nav .active a { color: white; }
.mobile-swipe-nav-indicator {
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0; right: 0;
    bottom: 5px;
    margin: 0 auto;
}
.mobile-swipe-nav hr {
    margin: 0;
    width: 260%;
    position: absolute;
    bottom: 8px;
    border-top-color: white;
}

/* Common Swipe Pages */
/*.mobile-swipe-page .document { height: 100vh; }*/
.mobile-swipe-wrap {
    position: relative;
    top: 100px;
}
.mobile-swipe-cover {
    position: relative;
    color: white;
    height: calc(100vh - 100px);
    background-size:cover;
    width:100%;
}
.mobile-swipe-cover-title {
    position: absolute;
    top: 15%;
    left: 0; right: 0;
    margin: auto;
    text-align: center;
}
.mobile-swipe-cover-title h1 { margin-bottom: 0; }
.mobile-swipe-cover-title .scroll-icon { width: 25px; }
.mobile-swipe-cover .cover-bg { 
    width: 100%; 
    height: calc(100vh - 100px);
}

/* MilesStones */
.mobile-swipe-cover h2 { margin-top: 0; }
.mobile-swipe-cover p { line-height: 17px; }
.mobile-swipe-cover .left-top-content {
    width: 90%;
    position: absolute;
    top: 5%; left: 5%;
}
.mobile-swipe-cover .left-middle-content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    margin: auto;
}
.mobile-swipe-cover .left-bottom-content {
    width: 90%;
    position: absolute;
    bottom: 20%; left: 5%;
}
.mobile-swipe-cover .right-top-content {
    width: 90%;
    position: absolute;
    top: 5%; right: 5%;
}
.mobile-swipe-cover .center-top-content {
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
}
.mobile-swipe-cover .center-center-content {
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.mobile-swipe-cover .width60 { width: 60%; }
.mobile-swipe-cover .width70 { width: 70%; }
.mobile-swipe-cover .width80 { width: 80%; }
.mobile-swipe-cover .top10 { top: 10%; }
.mobile-swipe-cover .top15 { top: 15%; }
.mobile-swipe-cover .top20 { top: 20%; }
.mobile-swipe-cover .top25 { top: 25%; }

/* Mobile bg cover */
.mobile-milestones h2{ color:#fff; }
.mobile-milestones-main{ background-image: url(../img/milestones-main-cover.jpg) }
.mobile-milestones-gem{ background-image: url(../img/milestones-2016-cover1.jpg); }
.mobile-milestones-kundang { background-image: url(../img/mile-kundang-left.jpg); }
.mobile-milestones-30000-houses { background-image: url(../img/mile-30000-houses-left.jpg); }
.mobile-milestones-bukit-bantayan { background-image: url(../img/milestones-2016-cover7.jpg); }
.mobile-milestones-tender-land-singapore { background-image: url(../img/milestones-2015-cover2.jpg); }
.mobile-milestones-australian-market { background-image: url(../img/milestones-2015-cover1.jpg); }
.mobile-milestones-highpark { background-image: url(../img/milestones-2015-cover3.jpg); }
.mobile-milestones-the-robertson { background-image:  url(../img/milestones-2013-cover3.jpg); }
.mobile-milestones-5000-mark { background-image:  url(../img/milestones-2013-cover1.jpg); }
.mobile-milestones-madge-mansions { background-image: url(../img/milestones-2012-cover.jpg); }
.mobile-milestones-celadon-city { background-image: url(../img/milestones-mobile-celadon-city.jpg); }
.mobile-milestones-jadehills { background-image: url(../img/milestones-2013-cover2.jpg); }
.mobile-milestones-horizon-hills { background-image: url(../img/milestones-2006-cover.jpg); }
.mobile-milestones-vietnam-international { background-image: url(../img/milestones-mobile-vietnam-international.jpg); }
.mobile-milestones-10000-houses { background-image: url(../img/milestones-mobile-10000-houses.jpg); }
.mobile-milestones-bandar-botanic { background-image: url(../img/milestones-1999-cover.jpg); }
.mobile-milestones-private-golf { background-image: url(../img/milestones-1998-cover.jpg); }
.mobile-milestones-kota-kemuning { background-image: url(../img/milestones-1995-cover1.jpg); }
.mobile-milestones-founded { background-image: url(../img/milestones-1995-cover2.jpg); }

/* Mobile Learn More */
.mobile-learn-more-wrap {
    background-image: url('/wp-content/themes/Impreza-child/img/mobile-learn-more-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5%;
}
.mobile-learn-more {
    position: relative;
    text-align: center;
    margin-bottom: 5%;
}
.mobile-learn-more:last-child { margin-bottom: 0; }
.mobile-learn-more h2 {
    position: absolute;
    top: 20px;
    left: 0; right: 0;
    margin: 0 auto;
    color: white;
}
.mobile-learn-more .learn-more-btn {
    display: block;
    position: absolute;
    width: 90%;
    left: 0; right: 0;
    bottom: 20px;
    margin: 0 auto;
    padding: 7px 0;
    color: white;
    border: 1px solid white;
}
.mobile-learn-more img { width: 100%; }

/* Mobile Philosophy */
.no-timeline { top: 50px; }
.mobile-swipe-cover.mobile-philosophy-main-cover { height: calc(100vh - 50px); background-image: url(/wp-content/themes/Impreza-child/img/philosophy-main-cover.jpg); background-size:cover; background-position:center; }
.mobile-philosophy-main-cover .cover-bg { 
    width: 100%; 
    height: calc(100vh - 50px);
}
.mobile-slide-page.mobile-philosophy { padding-bottom:50px; }
.mobile-philosophy-main-cover .mobile-swipe-cover-title { top: 40%; }
.mobile-swipe-cover-title .mobile-main-vertical-line {
    border-right: 1px solid white;
    width: 50%;
    height: 23vh;
}
.mobile-tab-cover {
    background-image: url('/wp-content/themes/Impreza-child/img/philosophy-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
    padding: 20% 0;
}
.mobile-tab-cover .mobile-full-vertical-line {
    border-right: 1px solid white;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}
.mobile-tab-cover > p {
    background-color: white;
    width: 60%;
    margin: 0 auto 20% auto;
    padding: 3%;
    z-index: 1;
    position: relative;
}
.philosophy-tab-title {
    position: relative;
    height: 40px;
    margin: 7px 0;
}
.philosophy-tab-title a { 
    background-color: #eb312e;
    display: block; 
}
.philosophy-tab-title a:hover,
.philosophy-tab-title a:focus,
.philosophy-tab-title a:visited,
.philosophy-tab-title a:active { text-decoration: none; }
.philosophy-tab-title h2 {
    width: 40px; height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0; left: 0;
    margin: 0;
    background-color: #333;  
}
.philosophy-tab-title h3 {
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    margin: 0;
}
.philosophy-tab-content {
    color: white;
    z-index: 1;
    position: relative;
    margin-top: -7px;
    display: none;
}
.philosophy-tab-content ul { padding: 5% 5% 5% 15%; }
.philosophy-tab-content1 ul { background-color: #043f66; margin-left:0; }
.philosophy-tab-content2 ul { background-color: #3e4f00; margin-left:0; }
.philosophy-tab-content3 ul { background-color: #034843; margin-left:0; }
.philosophy-tab-content ul li { margin: 10px 0; }
.philosophy-tab-content ul li ul { 
    padding: 5% 5% 0 5%; 
    opacity: 0.8;
}
.philosophy-tab-content ul li ul li { margin: 10px 0; }
.philosophy-tab-content ul li ul li:first-child { margin-top: 0; }
.philosophy-tab-content ul li ul li ul { 
    list-style: none; 
    padding: 0 0 0 5%;
}
.philosophy-tab-content ul li ul li ul li { margin: 0; }
.philosophy-tab-content ul li ul li ul li:before {
    content: '–';
    position: absolute;
    margin-left: -1.1em; 
}
.philosophy-tab-content > p {
    color: #333;
    background-color: white;
    margin: 10% 0 20% 0;
    padding: 3% 10%;
}
.philosophy-single-tab-content {
    background-color: white;
    padding: 7% 7% 7% 10%;
    z-index: 1;
    position: relative;
    display: none;
}
.philosophy-single-tab-content h3 {
    color: #eb312e;
    font-weight: bold;
    margin: 5% 0 7% 0;
}
.philosophy-single-tab-content p {
    margin: 10px 0;
    padding: 0;
}

/* Mobile Innovation */
.innovation-swipe-nav { overflow-y: inherit; }
.innovation-swipe-nav ul { width: 100%; }
.innovation-swipe-nav ul li { width: 20%; }
.mobile-innovation1 .center-top-content {
    left: 16%;
    text-align: left;
}
.mobile-innovation1 .center-top-content p {
    border-left: 2px solid #333;
    padding-left: 10%;
    padding-bottom: 15vh;
}
.mobile-innovation2 .center-center-content img { 
    width: 100%;
    padding: 5%;
}

/* Responsive */
@media only screen and (min-width: 375px) {
    .mobile-swipe-cover p { line-height: 18px; }
    .mobile-swipe-cover-title .mobile-vertical-line { height: 30vh; }
}
@media only screen and (min-width: 414px) {
    .mobile-swipe-cover-title .mobile-vertical-line { height: 33vh; }
}
@media only screen and (min-width: 500px) {
    .mobile-swipe-cover p { line-height: 20px; }
}
@media only screen and (min-width: 768px) {
	.mobile-swipe-cover .center-top-content { top: 40%; }
	.mobile-swipe-cover .left-top-content { top: 7%; left: 7%; }
	.mobile-swipe-cover .right-top-content { right: 7%; }
	.mobile-swipe-cover .left-bottom-content { left: 7%; }
    .mobile-swipe-cover-title .mobile-vertical-line { height: 38vh; }
    .philosophy-tab-group, .philosophy-single-tab { width:70%; margin-left:15%; margin-right:15%; }
	.mobile-learn-more { height:30vh; overflow:hidden; }
	.mobile-learn-more img { margin-top:-11vh; }
	.mobile-learn-more:last-child img { margin-top:-5vh; }
}
@media only screen and (min-width: 1024px) {
	.page-template-milestones-mobile .mobile-swipe-nav, .no-timeline { top:60px; }
	.mobile-swipe-cover .left-top-content { width: 40%; }
    .mobile-milestones-main{ background-image: url(../img/mile-home.jpg); }
    .mobile-milestones-gem{ background-image: url(../img/mile-gem.jpg); }
    .mobile-milestones-kundang { background-image: url(../img/mile-kundang.jpg); }
    .mobile-milestones-30000-houses { background-image: url(../img/mile-30000-houses.jpg); }
    .mobile-milestones-bukit-bantayan { background-image: url(../img/mile-bukit-bantayan.jpg); }
    .mobile-milestones-tender-land-singapore { background-image: url(../img/mile-we-win-the-tender.jpg); }
    .mobile-milestones-australian-market { background-image: url(../img/mile-gamuda-enters-australian.jpg); }
    .mobile-milestones-highpark { background-image: url(../img/mile-highpark.jpg); }
    .mobile-milestones-the-robertson { background-image: url(../img/mile-the-robertson.jpg); }
    .mobile-milestones-5000-mark { background-image: url(../img/mile-our-land-bank.jpg); }
    .mobile-milestones-madge-mansions { background-image: url(../img/mile-madge-mansions.jpg); }
    .mobile-milestones-celadon-city { background-image: url(../img/mile-celadon-city.jpg); }
    .mobile-milestones-jadehills { background-image: url(../img/mile-jade-hills.jpg); }
    .mobile-milestones-horizon-hills { background-image: url(../img/mile-gamuda-enter-iskandar.jpg); }
    .mobile-milestones-vietnam-international { background-image: url(../img/mile-gamuda-city.jpg); }
    .mobile-milestones-10000-houses { background-image: url(../img/mile-10000-houses.jpg); }
    .mobile-milestones-bandar-botanic { background-image: url(../img/mile-bandar-botanic.jpg); }
    .mobile-milestones-private-golf { background-image: url(../img/mile-introudction-first-resort.jpg); }
    .mobile-milestones-kota-kemuning { background-image: url(../img/mile-kota-kemuning.jpg); }
    .mobile-milestones-founded { background-image: url(../img/mile-establised.jpg); }
    .philosophy-tab-group, .philosophy-single-tab { width:50%; margin-left:25%; margin-right:25%; }
}