/******************** Common Style ********************/
.xlg-font { font-size: 30px; }
.lg-font { font-size: 22px; line-height:30px; }
.md-font { 
    font-size: 18px; 
    font-weight: 600;
	color:#fff;
	line-height:24px;
}
.sm-font { font-size: 14px; }
.xs-font { font-size: 12px; }
.mobile-list-title {
    font-size: 16px;
    font-weight: 600;
}

/******************** Kota Kemuning ********************/
.kota-kemuning .document {
    background-image: url('/wp-content/themes/Impreza-child/img/mobile-bg.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
}
.kota-kemuning .mobile-cover-bg { background-image:url(/wp-content/uploads/2016/09/kota-kemuning-banner.jpg); background-size: cover; background-position:center left 30%; }

/* Mobile Cover */
.mobile-cover { position: relative; }
.mobile-cover-content {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
}
.mobile-main-logo {
    position: absolute;
    top: 25%;
    left: 0; right: 0;
    margin: auto;
    width: 60vw;
	max-width:300px;
}
.video-play-icon {
    position: absolute;
    top: 0; bottom:0;
    left: 0; right: 0;
    margin: auto;
    width: 20vw;
	max-width:100px;
}
.scroll-icon {
    position: absolute;
    bottom: 5%;
    left: 0; right: 0;
    margin: auto;
    width: 25px;
}
.mobile-cover-bg{ width: 100%; height: 100vh; }
/* .mobile-cover-bg img {
    width: 100%;
    height: 100vh;
} */
.mobile-overview-text1 {
    position: absolute;
    top: 20%;
    left: 0; right: 0;
    margin: auto;
    width: 60%;
	max-width:500px;
}
.mobile-overview-text2 {
    position: absolute;
    top: 11%;
    left: 0; right: 0;
    margin: auto;
    width: 60%;
	max-width:500px;
}

/* Mobile Text Group */
.mobile-text-group { padding: 10vw; }
.mobile-text-group h2 {
    color: #095f1f;
    font-weight: bold;
}
.mobile-text-group p { margin: 15px 0; }
.mobile-text-group h3.green-gradient-font {
    font-weight: 900;
    background: #095f1f;
    background: -webkit-linear-gradient(-85deg, #095f1f 0%,#96bf46 100%);
    background: -moz-linear-gradient(-85deg, #095f1f 0%,#96bf46 100%);
    background: linear-gradient(175deg, #095f1f 0%,#96bf46 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mobile-text-group .paragraph-space {
    border: 0;
    padding: 10vw 0;
}

/* Mobile Single Image */
.single-image img { width: 100%; }

/* Mobile Image Cover */
.mobile-image-cover { position: relative; }
.mobile-image-cover-content {
    position: absolute;
    text-align: center;
    top: 0; left: 0; right: 0;
    margin: auto;
}
.mobile-image-cover img { width: 100%; }
.mobile-image-cover-content img { width: 76vw; max-width:405px; }
.mobile-image-cover-content h3 {
    position: absolute;
    top: 25%;
    left: 0; right: 0;
    margin: auto;
    color: #095f1f;
    font-weight: bold;
}
.mobile-cover-title {
    color: white;
    text-align: center;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.mobile-cover-title h2 { font-weight: bold; }

/* Mobile List Group */
.mobile-list-group { padding: 10vw; }
.mobile-list-group li { margin: 10vw 0; }
.mobile-list-group .green-circle {
    background-color: #095f1f;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
}
.mobile-list-group h3 {
    color: #095f1f;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.mobile-list-group p { margin-left: 33px; }

/* Mobile Full Banner */
.mobile-full-banner { position: relative;}
.mobile-full-banner img { width: 100%; }
.mobile-full-banner h3 {
    color: white;
    position: absolute;
    top: 20%;
    left: 0; right: 0;
    margin: auto;
    text-align: center;
    font-weight: bold;
    width: 150px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    padding-bottom: 3vw;
}

/* Mobile Map Button */
ul.kota-kemuning-map-box{ position:absolute; top: 50%; left: 50%; width:auto; min-width:280px; text-decoration: none; 
margin-left:0; color: white; margin: auto; font-weight: bold; text-align:left; transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);	-moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%);}
ul.kota-kemuning-map-box li { display:inline-block; margin:0 5px; vertical-align: middle; }
ul.kota-kemuning-map-box li img{ max-width:45px; }
.mobile-slide-page.kota-kemuning .modalVideo .modal-body { width:100%; position:absolute; top:50%; transform: translate(0, -50%); 
-webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%);	-moz-transform: translate(0, -50%); -o-transform: translate(0, -50%);}
.mobile-slide-page.kota-kemuning .modal-info .close { position:absolute; right:0; }
.mobile-slide-page.kota-kemuning ul.video-modal-buttons { top:5px; right:5px; }
.mobile-slide-page.kota-kemuning ul.video-modal-buttons li { width:30px; top:10px; }
.mobile-slide-page.kota-kemuning .modal-info .modal-content { height:auto; background-color:transparent; border:0; }
.mobile-slide-page.kota-kemuning .modalVideo .modal-content { background-color:transparent; border:0; }
.mobile-slide-page.kota-kemuning .header-one p { margin-top:60px; }

/*.map-btn {
    text-align: center;
    margin: 10vw 0;
}
.map-btn img { width: 150px; }*/

/* Mobile Other Projects */
.mobile-other-projects { padding-bottom: 20px; padding-top:20px; display:table; width:100%; }
.mobile-other-projects > div {
    padding: 0;
    position: relative;
}
.mobile-other-projects h2 {
    color: #095f1f;
    font-weight: bold;
	margin-left:15px;
}
.mobile-other-projects .mobile-prev-project { padding-right: 3px; }
.mobile-other-projects .mobile-next-project { padding-left: 3px; }
.mobile-other-projects > div img { width: 100%; }
.mobile-other-projects .prev-project-btn {
    position: absolute;
    top: 0; bottom: 0;
    left: 20px;
    margin: auto;
    width: 15px;
}
.mobile-other-projects .next-project-btn {
    position: absolute;
    top: 0; bottom: 0;
    right: 20px;
    margin: auto;
    width: 15px;
}

/******************** Bandar Botanic ********************/
/* Mobile Cover */
.mobile-bandar-botanic-main-cover .mobile-cover-content {
    width:65%;
    height: auto;
    text-align: center;
    top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.mobile-bandar-botanic-main-cover .mobile-main-logo {
    position: relative;
    top: auto; bottom: auto;
    left: auto; right: auto;
}
.mobile-bandar-botanic-main-cover h2 {
    color: white;
    margin: 0;
}
.short-separator {
    width: 40px;
    margin: 10px auto;
}
.bandar-botanic .mobile-cover-bg, .valencia .mobile-cover-bg{
	width:100%;
	height:100vh;
}
.mobile-bandar-botanic-cover {
    width: 60%;
	padding:0;
    color: white;
    position: absolute;
    top: 50%;
    left: 10%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
}
.mobile-bandar-botanic-cover-title {
    background-image: url('/wp-content/themes/Impreza-child/img/bandar-botanic-title-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
	padding-top:10px;
}
.mobile-bandar-botanic-cover-title h2 {
    padding: 15px 0 10px 0;
    text-align: center;
}
.mobile-bandar-botanic-cover-text {
    line-height: 18px;
    border-left: 1px solid white;
    padding: 3% 0 20% 5%;
    margin-left: 3%;
}

.bandar-botanic .mobile-cover-bg.mobile-cover-bg-main1{ background-image:url(/wp-content/themes/Impreza-child/img/bandar-botanic-main-cover.jpg); background-position:center left; }
.bandar-botanic .mobile-cover-bg.mobile-cover-bg-main2{ background-image:url(/wp-content/themes/Impreza-child/img/bandar-botanic-cover.jpg); background-position:center; }

/* Mobile Overview */
.bandar-botanic-overview {
    background-image: url('/wp-content/themes/Impreza-child/img/bandar-botanic-overview-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    padding: 20px;
    position: relative;
    z-index: 1;
}
.bandar-botanic-overview p { margin: 15px 0; }
.bandar-botanic-overview-box {
    border: 1px solid white;
    padding: 0 15px 15px 15px;
    margin-bottom: 10px;
}
.bandar-botanic-overview-img { margin-top: -15vw; }

/* Mobile Tab */
.mobile-tab-group {
    background-color: #158179;
    color: white;
    padding: 30px 20px;
}
.mobile-tab-group ul { margin: 0 0 -1px 0; }
.mobile-tab-group li {
    width: 33.333333%;
    height: 40px;
    padding: 0;
    line-height: 40px;
    text-align: center;
    margin: 0 -0.5%;
}
.mobile-tab-group li.active{
    background-color: white;
    color: #158179;
}
.mobile-tab-group .mobile-tab {
    border: 1px solid white;
    padding: 0 15px;
    display: none;
    opacity: 0;
}
.mobile-tab-group .mobile-tab p { margin: 15px 0; }
.mobile-tab-group .mobile-tab1 {
    display: block;
    opacity: 1;
}

.valencia .mobile-cover-bg{ background-image:url(/wp-content/uploads/2016/08/valencia_bg.jpg); background-position:center; }

/* Mobile Facilities & Amenities */
.mobile-bandar-botanic-facility {
    background-color: #21a9bb;
    color: white;
    padding: 10px 20px;
}
.mobile-bandar-botanic-facility-text {
    border: 1px solid white;
    padding: 0 15px 15px 15px;
}
.mobile-bandar-botanic-facility-text p { margin: 15px 0; }
.mobile-bandar-botanic-facility ul {
    background-color: white;
    color: #139118;
    margin-top: 10px;
    padding: 10px 20px 5px 20px;
}
.mobile-bandar-botanic-facility li { margin: 10px 0; }
.mobile-bandar-botanic-facility li:before {
    content: '';
    background-image: url('img/list-style-tick.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 10px;
    width: 20px; height: 20px;
    vertical-align: top;
}
.mobile-bandar-botanic-facility li p {
    display: inline-block;
    width: 85%;
}

/* Mobile Master Site Plan */

.mobile-bandar-botanic-site-plan-wrap p {
    color: white;
    margin: 15px 0;
}
.mobile-bandar-botanic-site-plan-wrap img { width: 100%; }
.mobile-bandar-botanic-site-plan1 { position: relative; }
.mobile-bandar-botanic-site-plan-content1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 30px;
}
.mobile-bandar-botanic-site-plan-content1 h2 { color: #333333; }
.mobile-bandar-botanic-site-plan-box1 {
    background-image: url('/wp-content/themes/Impreza-child/img/bandar-botanic-site-plan-bg1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 30px;
    margin-top: -40px;
    z-index: 1;
    position: relative;
}
.mobile-bandar-botanic-site-plan-box-content {
    border: 1px solid white;
    padding: 0 15px 15px 15px;
}
.mobile-bandar-botanic-site-plan-img2 { margin-top: -50px; }
.mobile-bandar-botanic-site-plan-box2 {
    background-image: url('/wp-content/themes/Impreza-child/img/bandar-botanic-site-plan-bg2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 30px;
    margin-top: -120px;
    z-index: 1;
    position: relative;
}
.mobile-bandar-botanic-site-plan-img3 { margin-top: -120px; }
.mobile-bandar-botanic-site-plan-box3 {
    background-image: url('/wp-content/themes/Impreza-child/img/bandar-botanic-site-plan-bg3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 30px;
    margin-top: -80px;
    z-index: 1;
    position: relative;
}
.mobile-bandar-botanic-site-plan-img4 { margin-top: -30px; }

/* Mobile Master Site Plan-Residential */
.mobile-bandar-botanic-residential-plan { padding: 10px 25px; }
.mobile-bandar-botanic-residential-plan h2 { color: #333333; }
.mobile-bandar-botanic-residential-plan h2 span { color: #add043; }
.mobile-bandar-botanic-residential-plan img { width: 100%; }
.mobile-bandar-botanic-residential-plan-wrap {
    background-color: #1e9078;
    color: white;
    padding: 20px;
}
.mobile-bandar-botanic-residential-plan-text {
    border: 1px solid white;
    padding: 0 15px 15px 15px;
}
.mobile-bandar-botanic-residential-plan-text p { margin: 15px 0; }

/* Mobile Master Site Plan-Commercial */
.mobile-bandar-botanic-commercial-plan { padding: 10px 25px; }
.mobile-bandar-botanic-commercial-plan h2 { color: #333333; }
.mobile-bandar-botanic-commercial-plan h2 span { color: #1a4db3; }
.mobile-bandar-botanic-commercial-plan img { width: 100%; }
.mobile-bandar-botanic-commercial-plan-wrap {
    background-color: #3684a7;
    color: white;
    padding: 20px;
}
.mobile-bandar-botanic-commercial-plan-text {
    border: 1px solid white;
    padding: 0 15px 15px 15px;
}
.mobile-bandar-botanic-commercial-plan-text p { margin: 15px 0; }

/* Mobile Other Projects */
.bandar-botanic .mobile-other-projects {
    background-image: url('/wp-content/themes/Impreza-child/img/bandar-botanic-other-projects-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 20px;
	margin-top:-15px;
}
.bandar-botanic .mobile-other-projects h2 { color: white; }

/******************** Valencia ********************/
.valencia .document {
    background: url('/wp-content/themes/Impreza-child/img/mobile-bg.jpg') repeat-y;
    background-size: 100%;
}

/* Mobile Main Cover */
.mobile-valencia-main-cover .mobile-cover-content {
    height: auto;
    text-align: center;
    top: 50%;
	left:50%;
    height: auto;
	max-width:500px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.mobile-valencia-main-cover table { margin: 0 2%; }
.mobile-valencia-main-cover td {
    color: white;
    vertical-align: bottom;
    padding: 0 3% 0 5%;
}
.mobile-valencia-main-cover td:first-child { width: 45%; }
.mobile-valencia-main-cover td:last-child {
    width: 50%;
    text-align: left;
    padding-left: 0;
}
}
.mobile-valencia-main-cover table img { width: 100%; }
.mobile-valencia-main-cover table p {
    margin: 0;
    padding-left: 10%;
    padding-right: 0;
    border-left: 1px solid white;
}
.start-journey-btn {
    display: inline-block;
    text-align: center;
    color: white;
    margin-top: 15%;
    padding: 1% 3%;
    border: 1px solid white;
}
.start-journey-btn:hover, .start-journey-btn:active, .start-journey-btn:focus {
    color: white;
    text-decoration: none;
}

/* Mobile Overview */
.mobile-valencia-overview-content { 
    background: url('/wp-content/themes/Impreza-child/img/valencia-overview-bg.jpg') no-repeat;
    background: url('/wp-content/themes/Impreza-child/img/valencia-overview-bg.jpg') no-repeat;
    background-size: cover;
	background-position:center bottom;
    padding: 10vw 10vw 50vw 10vw;
}
.mobile-valencia-overview-content img { 
    width: 30vw;
    display: block;
    margin: 0 auto 10vw auto;
}
.mobile-valencia-overview-content h2 { color: #571c1f; }
.mobile-valencia-overview-content p {
    color: #333333;
    margin: 15px 0;
}

/* Mobile Concept & Design */
.mobile-valencia-concept { padding: 5vw 10vw 12vw 10vw;}
.mobile-valencia-concept h2 { color: #571c1f;}
.mobile-valencia-concept p { margin: 15px 0; }

/*Mobile Master Plan */
.mobile-valencia-master-plan h2 { 
    color: #571c1f;
    margin-left: 10vw;
    margin-bottom: 5vw;
}
.mobile-valencia-master-plan table { color: white; }
.mobile-valencia-master-plan tr td { padding: 7vw 5vw; }
.mobile-valencia-master-plan tr td:first-child { vertical-align: top; width:25%; }
.mobile-valencia-master-plan tr td:last-child { padding-left: 0vw; }
.mobile-valencia-master-plan h3 { margin-top: 0; }
.mobile-valencia-master-plan p { margin: 15px 0; }
.mobile-valencia-master-plan p:last-child { margin-bottom: 0; }
.mobile-valencia-master-plan img { width: 10vw; }

/* Mobile Banner */
.mobile-valencia-banner { position: relative; }
.mobile-valencia-banner-content { 
    position: absolute;
    top: 50%;
	left:50%;
    text-align: center;
    width: 100%;
    color: white;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.mobile-valencia-banner-bg img { width: 100%; }

/* Mobile Other Projects */
.valencia .mobile-other-projects h2 { color: #571c1f;}

/******************** Madge Mansion ********************/
/* Mobile Cover */
.madge-mansion .mobile-cover-bg { background-image:url(/wp-content/themes/Impreza-child/img/madge-mansion-main-cover.jpg); background-size:cover; }
.mobile-madge-mansion-main-cover .mobile-cover-content {
    top: 50%;
    left: 50%;
    height: auto;
    text-align: center;
    color: white;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.mobile-madge-mansion-main-cover .mobile-main-logo {
    position: relative;
    top: auto; bottom: auto;
    left: auto; right: auto;
    width: 25vw;
	max-width:150px;
}
.mobile-madge-mansion-main-cover h2 { margin-bottom: 0; }
.mobile-madge-mansion-main-cover p { font-weight: lighter; }

/* Mobile Overview */
.mobile-madge-mansion-overview { padding: 5vw 10vw; }
.mobile-madge-mansion-overview p { margin: 15px 0; }
.mobile-madge-mansion-overview .mobile-madge-mansion-list { margin: 30px 0; }
.mobile-madge-mansion-list ul { margin-left: 18px; }

/* Mobile Security */
.mobile-madge-mansion-security { padding: 5vw; }
.mobile-madge-mansion-security h2 { 
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px;
    margin: 0 5vw;
}
.mobile-madge-mansion-security .mobile-madge-mansion-list { margin: 30px 5vw; }
.mobile-madge-mansion-security > img { 
    width: 100%; 
    margin: 5vw 0;
}
.mobile-madge-mansion-security .mobile-madge-mansion-security-img1 { padding: 0 5vw; }
.mobile-madge-mansion-security .mobile-madge-mansion-security-img2 { margin-bottom: 15px; }
.mobile-madge-mansion-security table { 
    border-left: 1px solid #cccccc; 
    margin: 5vw 0;
}
.mobile-madge-mansion-security img { width: 100%; }
.mobile-madge-mansion-security td { padding: 5px 0; }
.mobile-madge-mansion-security td:first-child { 
    width: 40%; 
    padding-left: 5vw;
}
.mobile-madge-mansion-security td:last-child { padding-left: 5vw; }
.mobile-madge-mansion-security tr:first-child td { padding-top: 0; }
.mobile-madge-mansion-security tr:last-child td { padding-bottom: 0; }

/* Mobile Landscapes */
.mobile-madge-mansion-landscapes { padding: 5vw; }
.mobile-madge-mansion-landscapes h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 0 5vw;
}
.mobile-madge-mansion-landscapes > img {
    width: 100%;
    margin: 5vw 0;
}
.mobile-madge-mansion-landscapes .mobile-madge-mansion-list { margin: 15px 5vw; }
.mobile-madge-mansion-landscapes-grid { margin: 5vw 0; }
.mobile-madge-mansion-landscapes-grid > div { padding: 0; }
.mobile-madge-mansion-landscapes-grid > div:last-child img { padding-left: 2vw; }
.mobile-madge-mansion-landscapes-grid img { 
    width: 100%;
    padding: 1vw 0;
}
.mobile-madge-mansion-landscapes-grid p { 
    padding: 2vw 2vw 2vw 5vw;
    margin: 0;
}

/* Mobile Architecture */
.mobile-madge-mansion-architect { padding: 5vw; }
.mobile-madge-mansion-architect h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 0 5vw;
}
.mobile-madge-mansion-architect > img {
    width: 100%;
    margin: 5vw 0;
}
.mobile-madge-mansion-architect .mobile-madge-mansion-list { margin: 15px 5vw; }
.mobile-madge-mansion-architect-grid { margin: 5vw 0; }
.mobile-madge-mansion-architect-grid > div { padding: 0; }
.mobile-madge-mansion-architect-grid > div:first-child img { padding-right: 2vw; }
.mobile-madge-mansion-architect-grid img {
    width: 100%;
    padding-bottom: 2vw; 
}
.mobile-madge-mansion-architect > p { margin: 5vw; }
.mobile-madge-mansion-architect-grid2 { margin: 5vw 0; }
.mobile-madge-mansion-architect-grid2 img { width: 100%; }
.mobile-madge-mansion-architect-grid2 td:first-child { width: 53%; }
.mobile-madge-mansion-architect-grid2 td:first-child img { padding-bottom: 2vw; }
.mobile-madge-mansion-architect-grid2 td:last-child { padding-left: 2vw }
.mobile-madge-mansion-architect-grid2 tr:nth-child(2) td:last-child,
.mobile-madge-mansion-architect-grid2 tr:last-child td:last-child{ padding-left: 6vw; }

/* Mobile Features */
.mobile-madge-mansion-features { padding: 5vw; }
.mobile-madge-mansion-features h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 0 5vw;
}
.mobile-madge-mansion-features .mobile-madge-mansion-list { margin: 15px 5vw; }
.mobile-madge-mansion-features img { 
    width: 100%; 
    margin: 2vw 0;
}
.mobile-madge-mansion-features-grid { margin: 0 -2vw; }
.mobile-madge-mansion-features-grid > div { padding: 0 2vw; }

/* Mobile Other Projects */
.madge-mansion .mobile-other-projects h2 { color: #333; }

/******************** Responsive ********************/
@media only screen and (max-width:1024px){
	.page-template-milestones-mobile.header_hor .l-header.pos_fixed, .page-template-philosophy-mobile.header_hor .l-header.pos_fixed{ background-color:#fff; }
}
@media only screen and (max-width:768px){
	.header_hor .l-subheader.at_middle{
		height:50px !important;
	}
	.page-id-6961 .l-header.bg_transparent:not(.sticky) .l-subheader .ush_image_2 { width:100%; }
	/*About Us Awards*/
	.about-us-award{
		padding-top:0px !important;
	}
	.about-us-award .tp-bgimg{
		background-image: url("http://128.199.89.40/wp-content/uploads/2016/09/awards-mobile-banner.jpg") !important;
	}
	.about-us-award  #slide-49-layer-9{
		min-width: 90vw !important;
		max-width: 90vw!important;
	}
	.about-us-award .w-tabs.layout_modern .w-tabs-item-h{
		white-space:initial;
	}
	.tab-awards a{
		font-size:15px;
		line-height:17px;
		padding: 10px 15px 18px 15px !important;
		white-space:pre-wrap !important;
	}
}
@media only screen and (min-width: 375px) {
    /* Common Style */
    .xlg-font { font-size: 35px; }
    .lg-font { font-size: 25px; }
    .md-font { font-size: 20px; line-height:26px; }
    .sm-font { font-size: 15px; }
    .xs-font { font-size: 14px; }
    .mobile-list-title { font-size: 18px; }
    /* Kota Kemuning */
    .mobile-list-group .green-circle {
        width: 22px;
        height: 22px;
    }
    .mobile-list-group p { margin-left: 36px; }
    .map-btn img { width: 170px; }
    /* Bandar Botanic */
    .mobile-tab-group li {margin: 0 -0.4%;}
	/*About Us Awards*/
	.about-us-award .w-tabs.layout_modern .w-tabs-item-h{
		white-space:initial;
	}
}

@media only screen and (min-width: 414px) {
    /* Kota Kemuning */
    .mobile-full-banner h3 { top: 25%; }
}

@media only screen and (min-width: 500px) {
    /* Common Style */
    .xlg-font { font-size: 40px; }
    .lg-font { font-size: 28px; }
    .md-font { font-size: 25px; line-height:31px }
    .sm-font { font-size: 18px; line-height: 22px; }
    .xs-font { font-size: 16px; }
    .mobile-list-title { font-size: 20px; }
    /* Kota Kemuning */
    .mobile-list-group .green-circle {
        width: 25px;
        height: 25px;
    }
    .mobile-list-group p { margin-left: 39px; }
    .mobile-full-banner h3 { top: 30%; }
    .map-btn img { width: 190px; }
    /* Bandar Botanic */
    .short-separator { margin: 20px auto; }
	.mobile-bandar-botanic-commercial-plan-wrap{ padding: 20px 20px 40px 20px }
	.bandar-botanic .mobile-other-projects{ padding-top:40px; margin-top: -30px; }
}

@media only screen and (min-width: 768px) {
    /* Common Style */
	.xlg-font { font-size: 48px; line-height:54px; }
    .lg-font { font-size: 36px; line-height:42px; }
	.md-font { font-size: 32px; line-height: 38px; }
	
	/* Kota Kemuning */
	.mobile-list-group li { display: inline-block; width: 33%; }
	
    /* Bandar Botanic */
    .mobile-tab-group li { margin: 0 -0.2%; }
	.mobile-valencia-main-cover .mobile-cover-content { width:70%; }
	.mobile-valencia-overview-content img { max-width: 180px; margin: 0 auto 40px auto; }
	.mobile-valencia-master-plan tr td:first-child { width:20vw; }
	.bandar-botanic .mobile-cover-bg.mobile-cover-bg-main1{ background-image:url(/wp-content/uploads/2016/08/botanic-slider-home.jpg); background-position:center left 38%; }
	.bandar-botanic .mobile-cover-bg.mobile-cover-bg-main2{ background-image:url(/wp-content/uploads/2016/09/botanic-slider-home-2.jpg); background-position:center left 22%; }
	.mobile-bandar-botanic-residential-plan img, .mobile-bandar-botanic-commercial-plan img, .mobile-bandar-botanic-site-plan-content1 img { width:75%; margin:0 12.5% }
	
}
@media only screen and (min-width: 1024px) {
	.mobile-valencia-main-cover .mobile-cover-content { width:50%; }	
	.madge-mansion .mobile-cover-bg { background-image:url(http://128.199.89.40/wp-content/uploads/2016/08/slider-madge-mansions.jpg); }
	.mobile-bandar-botanic-cover { width: 40%; }
	.mobile-bandar-botanic-site-plan1, .mobile-bandar-botanic-site-plan-img2, .mobile-bandar-botanic-site-plan-img3 { height:65vh; overflow:hidden }
	.mobile-bandar-botanic-site-plan-wrap img { margin-top:-6%; }
	.mobile-bandar-botanic-site-plan-img1 img { margin-top:-15%; }
	.mobile-bandar-botanic-residential-plan img, .mobile-bandar-botanic-commercial-plan img, .mobile-bandar-botanic-site-plan-content1 img { width:60%; margin:0 20% }
}

