.outer-row, .outer-column, .page-id-9 .l-section.height_auto .l-section-h, .page-id-9 .g-cols.offset_none {
    position: relative;
    min-height:300px;
}
.page-id-9 .g-cols.offset_none > div{
    vertical-align:bottom;
}
.outer-row .w-image {
    margin-bottom: 0!important;
}
.feat-dev-img-box{
	position:relative;
}
.feat-dev-img-logo{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:rgba(0,0,0,.7);
	transition:all ease-in .3s;
	opacity:0;
}
.feat-dev-img-logo img{
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
	transition:all ease-in .3s;
}
.highpark-box .feat-dev-img-box:hover .feat-dev-img-logo, .robert-box .feat-dev-img-box:hover .feat-dev-img-logo,
.jade-box .feat-dev-img-box:hover .feat-dev-img-logo, .horizon-box .feat-dev-img-box:hover .feat-dev-img-logo,
.bantayan-box .feat-dev-img-box:hover .feat-dev-img-logo, .gem-box .feat-dev-img-box:hover .feat-dev-img-logo,
.chapel-box .feat-dev-img-box:hover .feat-dev-img-logo, .gamudacity-box .feat-dev-img-box:hover .feat-dev-img-logo,
.celadon-box .feat-dev-img-box:hover .feat-dev-img-logo, .gamudawalk-box .feat-dev-img-box:hover .feat-dev-img-logo{
	opacity:1;
}
.banner-inner {
    margin: 0 auto !important;
    width: 1200px;
    position: inherit!important;
}
.banner-inner .col-left {
    padding-left: 0!important;
    position: absolute;
    top: 0px;
}
.banner-inner .col-right {
    background-image: url("../img/our-projects/col-bg.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.banner-inner .col-right.col-right-madge{
    right: auto;
    left: 50%;
}
/*
.banner-inner .banner-title {
    width: 40%;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: rgb(238, 46, 36);
}
*/
.banner-title {
    float:left;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: rgb(238, 46, 36);
}
.banner-inner .long-title {
    width: 57%;
}
.banner-title p {
    padding: 6%;
    color: rgb(255, 255, 255);
    font-size: 21px;
    text-align: center;
}
/*
.banner-inner .banner-title p {
    padding: 6%;
    color: rgb(255, 255, 255);
    font-size: 21px;
    text-align: center;
}
*/
.inner-right {
    padding-top: 3%;
    padding-bottom: 3%;
}
.inner-right .inner-right-title {
    display: inline-block;
    padding-left: 3%;
    vertical-align: middle;
}
.inner-right .feature {
    color: rgb(238, 52, 38);
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0;
}
.inner-right .title {
    color: rgb(51, 51, 51);
    font-size: 26px;
    margin-bottom: 0;
}
.banner-text {
    width: 45%;
}
.banner-gallery {
    padding-bottom: 3%;
}
.madge-architecture ul{
    margin:0;
}
.madge-architecture ul li{
    list-style:none;
    display:inline-block;
    margin:0 5px;
}
@media (max-width: 767px){
.page-id-9 .g-cols.offset_small > div{
	padding-left:20px;
	padding-right:20px;
}
.banner-title{
	border-radius:0;
	float:none;
}
.banner-title p{
	padding:15px;
}
.our-dev-section-banner .g-cols.offset_none > div{
	display: table-cell !important;
}
.our-dev-section-banner .g-cols.offset_none{
	display: table !important;
}
}
/* Desktop */
@media screen and (min-width:900px) and (max-width:1280px) {
    .banner-inner {
        width: 90%;
    }
    .inner-col {
        bottom: 0px;
        right: 0px;
        background-size: cover;
        padding: 12px !important;
        background-image: url("http://192.168.99.100:32773/wp-content/themes/Impreza-child/img/our-projects/col-bg.png");
    }
    .banner-inner .col-right {
        background-image: none;
    }
    .inner-right {
        padding: 0;
    }
    .inner-right img {
        width: 15%;
    }
    .inner-right .title {
        font-size: 20px;
    }
    .banner-text {
        width: 100%;
        font-size: 13px;
        margin-bottom: 0px;
    }
    .banner-gallery {
        padding-bottom: 0;
    }
    .banner-inner .banner-title {
        width: 50%;
    }
    .banner-inner .long-title {
        width: 75%;
    }
    .banner-inner .banner-title p {
        font-size: 18px;
    }
}