.ourdev-main-slider-modal .modal-dialog{
    margin-top:100px;
}
.watchvideo-btn{
	color:#fff !important;
	background-color:transparent !important;
	border:#fff 2px solid !important;
	border-radius:0 !important;
}
.slider-modal-content{
	padding:10px 10px 5px 10px;
	border-radius:0;
}
.video-modal-section .l-section-h{
	padding:0;
}
.mfp-arrow:before { border:0 !important; }
.mfp-arrow.mfp-arrow-left:before { content: '\f104' !important; }
.mfp-arrow.mfp-arrow-right:before { content: '\f105' !important; }
.btn-discovery{
    box-shadow: 0 0 0 2px #1aa899 inset !important;
    color: #1aa899 !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-discovery:hover{
    background-color: #1aa899 !important;
    color: #fff !important;
}
.w-btn.btn-discovery:before{
    background-color: #1aa899 !important;
}

.other-dev-section {
    position: relative;
    top: 50px;
}
.other-dev-section h3{
	margin-bottom:30px;
}
.other-dev-desktop{ display:block; }
.other-dev-mobile{ display:none; }
.pp-img img, .np-img img{
    width:100%;
}

.pp-section{
    position: absolute;
    top:39%;
    font-family: Lato;
    font-weight: 300;
}
.pp-img{
    position: relative;
    padding-right: 10px !important;
    margin-bottom: 2rem !important;
}
.pp-section .pp-icon{
    padding-left: 70px;
    font-size: 70px;
    color: white;
    padding-right: 20px;
    vertical-align: middle;
    font-weight: 100;
}
.pp-section .pp-text{
    font-size: 25px;
    color: white;
    vertical-align: middle;
}
.np-section{
    position: absolute;
    top:39%;
    right:0;
    font-family: Lato;
    font-weight: 100;
}
.np-img{
    position: relative;
    padding-left: 10px !important;
    margin-bottom: 2rem !important;
}
.np-section .np-icon{
    padding-right: 70px;
    font-size: 70px;
    color: white;
    padding-left: 20px;
    vertical-align: middle;
    font-weight: 100;
}
.np-section .np-text{
    font-size: 25px;
    color: white;
    vertical-align: middle;
}

/* Card slider Indicator */
.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: 20px !important;
    width: 20px !important;
    padding:0 !important;
}
.owl-theme .owl-controls .owl-page.active span{
    background:#ee2e24;
}
.owl-theme .owl-controls .owl-page span{
    background:#333;
    opacity:1;
}
.owl-theme .owl-controls .owl-buttons div{
    background:transparent !important;
    color:#333 !important;
    opacity:1 !important;
}
.owl-theme .owl-controls .owl-buttons .owl-prev, .owl-theme .owl-controls .owl-buttons .owl-next{
    transform: translate(0, -50%);
}
.owl-theme .owl-controls .owl-buttons div .fa-chevron-left, .owl-theme .owl-controls .owl-buttons div .fa-chevron-right{
    font-size:36px;
}
.owl-theme .owl-controls .owl-buttons div .fa-chevron-left:before{
    content:"\f104" !important;
}
.owl-theme .owl-controls .owl-buttons div .fa-chevron-right:before{
    content:"\f105" !important;
}

.detailed-section{
	padding-left:25%;
}
.table-info-box1{
    border-top:2px solid #d7d7d7;
    border-bottom:2px solid #d7d7d7;
    border-right:2px solid #d7d7d7;
	padding-left:0 !important;
}
.table-info-box2{
    border-top:2px solid #d7d7d7;
    border-bottom:2px solid #d7d7d7;
}
.table-info-box3{
    border-top:2px solid #d7d7d7;
    border-bottom:2px solid #d7d7d7;
    border-left:2px solid #d7d7d7;
}

.btn-showmore:before{
    border-top: 1px solid #8c8b8b;
}
.btn-showmore{
    box-shadow: 0 0 0 2px #1aa899 inset !important;
    color: #1aa899 !important;
    padding: 0 70px !important;
    margin-top: 50px !important;
}
.btn-showmore:hover{
    background-color: #1aa899 !important;
    color: #fff !important;
}
div.svc_post_grid_s1 article{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    background-color: transparent !important;
}
div.svc_post_grid_659 article section p a.svc_title{
    font-weight: 300;
}
div.svc_post_grid_s1 article section p.svc_info{
    font-weight: 300;
}
div.svc_post_grid_s1 article section{
    border-bottom: 0 !important;
}
div.svc_post_grid_s1 footer a.svc_read_more{
    float:left !important;
    color: #ee3426 !important;
    font-style: italic !important;
/*    font-weight: lighter !important;*/
}
div.svc_post_grid_s1 footer a.svc_read_more i.fa-angle-right{
    padding-left: 10px;
    font-size: 25px;
    vertical-align: bottom;
}
nav#svc_infinite{
    background: none repeat scroll 0 0 transparent !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 !important;
    border: 3px solid #24ab9c;
    color: #24ab9c;
    height: 45px !important;
}
.load_more_main_div , .bk-gallery .w-btn-wrapper{
    position: relative;
}
.load_more_main_div::before, .load_more_main_div::after, .bk-gallery .w-btn-wrapper::before, .bk-gallery .w-btn-wrapper::after {
    content: '';
    background: url('/wp-content/uploads/2016/07/grey-border.png') no-repeat;
    background-size: 100%;
    position: absolute;
    top: 15px;
    width: 32%;
    height: 10px;
}
.load_more_main_div::before, .bk-gallery .w-btn-wrapper::before{
    left: 20px;
    top: 20px;
}
.load_more_main_div::after, .bk-gallery .w-btn-wrapper::after{
    right: 20px;
    top:20px;
}
nav#svc_infinite p a{
    font-size: 15px !important;
    padding: 10px 0 !important;
    color: #24ab9c !important;
    font-weight: 700;
}

/*signature project button*/
.btn-jadehill-discovery{
    box-shadow: 0 0 0 2px #b59a10 inset !important;
    color: #b59a10 !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-jadehill-discovery:hover{
    background-color: #b59a10 !important;
    color: #fff !important;
}

.btn-jadehill-discovery.color_teal.style_outlined:before {
    background-color: #b59a10 !important;
}
.btn-highpark-discovery{
    box-shadow: 0 0 0 2px #559e3c inset !important;
    color: #559e3c !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-highpark-discovery:hover{
    background-color: #559e3c !important;
    color: #fff !important;
}
.btn-highpark-discovery:before{
    background-color: #559e3c !important;
}
.cc-highpark-suites .card-title{
    background: #559e3c;
}
.btn-robertson-discovery{
    box-shadow: 0 0 0 2px #432d67 inset !important;
    color: #432d67 !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-robertson-discovery:hover{
    background-color: #432d67 !important;
    color: #fff !important;
}
.btn-robertson-discovery:before{
    background-color: #432d67 !important;
}

.btn-horizonhill-discovery{
    box-shadow: 0 0 0 2px #da891f inset !important;
    color: #da891f !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-horizonhill-discovery:hover{
    background-color: #da891f !important;
    color: #fff !important;
}
.btn-horizonhill-discovery:before{
    background-color: #da891f !important;
}


.btn-celadoncity-discovery{
    box-shadow: 0 0 0 2px #2a553d inset !important;
    color: #2a553d !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-celadoncity-discovery:hover{
    background-color: #2a553d !important;
    color: #fff !important;
}
.btn-celadoncity-discovery:before{
    background-color: #2a553d !important;
}

.btn-gamudacity-discovery{
    box-shadow: 0 0 0 2px #cd5430 inset !important;
    color: #cd5430 !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-gamudacity-discovery:hover{
    background-color: #cd5430 !important;
    color: #fff !important;
}
.btn-gamudacity-discovery:before{
    background-color: #cd5430 !important;
}
.btn-gamudawalk-discovery{
    box-shadow: 0 0 0 2px #E2231A inset !important;
    color: #E2231A !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-gamudawalk-discovery:hover{
    background-color: #E2231A !important;
    color: #fff !important;
}
.btn-gamudawalk-discovery:before{
    background-color: #E2231A !important;
}
.btn-gemresidences-discovery{
    box-shadow: 0 0 0 2px #385767 inset !important;
    color: #385767 !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-gemresidences-discovery:hover{
    background-color: #385767 !important;
    color: #fff !important;
}
.btn-gemresidences-discovery:before{
    background-color: #385767 !important;
}
.btn-chapel-discovery{
    box-shadow: 0 0 0 2px #3c342d inset !important;
    color: #3c342d !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-chapel-discovery:hover{
    background-color: #3c342d !important;
    color: #fff !important;
}
.btn-chapel-discovery:before{
    background-color: #3c342d !important;
}
.btn-botanic-discovery {
    box-shadow: 0 0 0 2px #099f93 inset !important;
    color: #099f93 !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-botanic-discovery:hover{
    background-color: #099f93 !important;
    color: #fff!important;
}
.btn-botanic-discovery:before{
    background-color: #099f93 !important;
}
.btn-KK-discovery {
    box-shadow: 0 0 0 2px #00601b inset !important;
    color: #00601b !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-KK-discovery:hover{
    background-color: #00601b !important;
    color: #fff !important;
}
.btn-KK-discovery:before{
    background-color: #00601b !important;
}
.btn-madge-discovery{
    box-shadow: 0 0 0 2px #221f1f inset !important;
    color: #221f1f !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-madge-discovery:hover{
    background-color: #221f1f !important;
    color: #fff !important;
}
.btn-madge-discovery:before{
    background-color: #221f1f !important;
}
.horizonhill-collection-card .card-title{
    background: #da891f;
}

/* Popup Modal Box Styling */

.feat-dev-modal-box .ult_modal .ult_modal-body{
	padding:10px;
}

.feat-dev-modal-box iframe{
	width:100%;
	height:70vh;
}

.feat-dev-modal-box .ult-overlay-close{
	width:40px;
	height:40px;
}

div.svc_post_grid_s1 article{
	width:33.33%;
	padding:0 25px;
	margin:0 !important;
}

@media (min-width: 1200px) {
    .pp-section{
        top:37%;
    }
    .pp-section .pp-icon{
    padding-left: 35px;
    font-size: 45px;
    padding-right: 15px;
    }
    .pp-section .pp-text{
        font-size: 15px;
    }
    .np-section{
        top:37%;
    }
    .np-section .np-icon{
    padding-right: 35px;
    font-size: 45px;
    padding-left: 15px;
    }
    .np-section .np-text{
        font-size: 15px;
    }
}
@media only screen and (max-width:1400px) {
.feat-dev-modal-box.ult_modal.ult-medium{
	width:70%;
}
}
@media only screen and (max-width:1200px) {
.feat-dev-modal-box.ult_modal.ult-medium{
	width:80%;
}
}

/*Completed project - valencia*/
.valencia-title-breadcrumbs, .madge-mansions-title-breadcrumbs{
    position: absolute;
    z-index: 1;
    top: 80px;
}
.madge-mansions-title-breadcrumbs{
 top:104px;
}
.btn-valencia-discovery{
    box-shadow: 0 0 0 2px #571c1f inset !important;
    color: #571c1f !important;
    padding: 5px 0 !important;
    width: 250px;
}
.btn-valencia-discovery:hover{
    background-color: #571c1f !important;
    color: #fff !important;
}
.btn-valencia-discovery:before{
    background-color: #571c1f !important;
}
/*gallery-filter*/
.chapel-gallery .g-filters-list_custom .g-filters-item.active, .chapel-gallery .g-filters-list_custom .g-filters-item :hover{
	color:#3c342d !important;
}
.celadoncity-gallery .g-filters-list_custom .g-filters-item.active, .celadoncity-gallery .g-filters-list_custom .g-filters-item :hover{
	color:#2a553d !important;
}
.gamudacity-gallery .g-filters-list_custom .g-filters-item.active, .gamudacity-gallery .g-filters-list_custom .g-filters-item :hover{
	color:#cd5430 !important;
}
.gem-gallery .g-filters-list_custom .g-filters-item.active, .gem-gallery .g-filters-list_custom .g-filters-item :hover{
	color:#385767 !important;
}
.highpark-gallery .g-filters-list_custom .g-filters-item.active, .highpark-gallery .g-filters-list_custom .g-filters-item :hover{
	color:#559e3c !important;
}
.horizonhills-gallery .g-filters-list_custom .g-filters-item.active, .horizonhills-gallery .g-filters-list_custom .g-filters-item :hover{
	color:#da891f !important;
}
.jadehill-gallery .g-filters-list_custom .g-filters-item.active, .jadehill-gallery .g-filters-list_custom .g-filters-item :hover{
	color:#d1aa29 !important;
}
.robertson-gallery .g-filters-list_custom .g-filters-item.active, .robertson-gallery .g-filters-list_custom .g-filters-item :hover{
	color:#432d67 !important;
}
@media (max-width:769px){
.load_more_main_div::before, .load_more_main_div::after, .bk-gallery .w-btn-wrapper::before, .bk-gallery .w-btn-wrapper::after {
    display: none;
}
}
@media only screen and (max-width:768px) {
.other-dev-desktop{ display:none; }
.other-dev-mobile{ display:block; }
.pp-image{
	padding-right:2px !important;
}
.np-image{
	padding-left:2px !important;
}
.pp-section, .np-section{
	top:50%;
	margin-top:-7vw;
}
.pp-section span{
	display:none;
}
.np-section span{
	display:none;
}
.pp-section .pp-icon{
	font-size:10vw;
	padding-left:5px;
}
.np-section .np-icon{
	font-size:10vw;
	padding-right:5px;
}
.table-info.g-cols.offset_none > div{
	display:inline-block !important;
}
.table-info .vc_custom_1470682690954{
	border-bottom-color: transparent !important;
	border-bottom-style: none !important;
	border-right-color: transparent !important;
	border-right-style: none !important;
}
	
}
@media only screen and (max-width:600px) {
.other-dev-mobile .g-cols.offset_none > div{
    display:table-cell !important;
}
.detailed-section{
	padding-left:inherit;
}
.table-info-box1{
	border-bottom:0;
	border-left: 2px solid #d7d7d7;
	margin-left:0;
	padding-left:5% !important;
}
.table-info-box2{
	border-bottom:0;
	border-left:2px solid #d7d7d7;
	border-right:2px solid #d7d7d7;
}
.table-info-box3{
	border-right:2px solid #d7d7d7;
}
.gallery-section{
	margin-top:50px !important;
}
.gallery-section .g-filters.style_custom{
	margin-bottom:0;
}
.gallery-section .g-filters-list_custom .g-filters-item{
	width:32.5%;
}
div.svc_post_grid_s1 article{
	width:100%;
	position:relative !important;
	float:none !important;
	top:20px !important;
}
.svc_post_grid_list_container{
	margin-bottom:30px;
}
}