
.checkboxfake input:checked+.fake {
    background: url(../img/icon/icons.png) -317px -38px no-repeat #fff;
}
.checkboxfake .fake {
    height: 26px;
    width: 26px;
}
.checkboxfake .fake {
    display: inline-block;
    height: 18px;
    width: 18px;
    float: left;
    background: #fff;
    margin-right: 10px;
}
.checkboxfake {
    position: relative;
    line-height: 13px;
    margin: 0;
    color: #333;
    font-weight: 600;
	padding-left: 20px;
    line-height: 18px;
    white-space: nowrap;
	font-family: Lato;
}
.checkboxfake input {
    opacity: 0;
    position: absolute;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
	width: 100%;
	border: 0;

}
.sticky .dropdown-menu {
    top:100%;
}

.dropdown-large {
  position: static !important;
  
}
.dropdown-menu-large {
	margin-left: 0px;
	margin-right: 0;
	padding: 20px 0px;
	background: #d7d7d7;
	border-radius: 0;
  
}
.dropdown-menu-large > li{
	margin-bottom: 15px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
	list-style: none;
	line-height: 25px;
	font-size: 12px;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .border-right{
	border-right: 2px solid #fff;
}
.dropdown-menu-large .dropdown-header {
	color: #959595;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 11px;
	margin-bottom: 10px;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav>li.dropdown-large {
    float: left;
    background: none;
    padding: 13px 10px;
    height: 60px;
	    margin-left: 10px;
	
}
.navbar-nav>li.dropdown-large.open {
    float: left;
    background: #d7d7d7;
    padding: 13px 10px;
    height: 60px;
	border-bottom: 5px solid #ee2e24;
}
.navbar-nav>li>a {
    padding-top: 7px;
    padding-bottom: 7px;
	padding-left: 28px;
}
.navbar-nav>li.open>a {
    //padding-left: 23px;
}
#searchform a.searchdropdown{
    font-size:14px;
}
.nav>li>a {
    text-decoration: none;
    background-color: #ee2e24;
	color: #fff;
	transition: all ease 0.3s;
	
}
.nav>li.open>a {
	color: #333;
}
.l-subheader .nav>li>a.searchdropdown:focus{
	background: #ee2e24 url(../img/icon/search-white.png) no-repeat left center;
	background-position-x: 7px;
}
.l-subheader .nav>li>a:hover {
    text-decoration: none;
	background-color: #a51810;
	color: #fff !important;
}
.l-subheader .nav>li.open>a:hover {
	color: #333 !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: none ;
    border-color: #ee2e24;
	color: #333;
}
.searchdropdown{
	background: url(../img/icon/search-white.png) no-repeat left center;
	background-position-x: 7px;
}
.nav .open>a.searchdropdown,.nav .open>a.searchdropdown:focus{
	background: url(../img/icon/search-black.png) no-repeat left center !important;
	background-position-x: 7px !important;
}
.navbar-nav>li>a.searchdropdowncaret
{
	background: url(../img/icon/caret.png) no-repeat left center / cover;
    padding: 0;
    height: 34px;
    width: 34px;
}
.navbar-nav .open>a.searchdropdowncaret {
	background: url(../img/icon/caret-close.png) no-repeat left center / cover;
    padding: 0;
    height: 34px;
    width: 34px;
}
ul li, ol li {
    margin: 0 0 0 0; 
}


#showcase {
	margin: 0 20px;
	text-align: center;
}
#range {
	height: 300px;
	margin: 0 auto 30px;
}
#value-span,
#value-input {
	width: 50%;
	float: left;
	display: block;
	text-align: center;
	margin: 0;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="date"], input[type="search"], input[type="range"], select {
    line-height: 30px;
    height: 30px;
    box-shadow: none;
	border: 1px solid #fff;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.dropdown-menu-large input[type="submit"] {
    font-size: 13px;
    /* line-height: 2.8; */
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    z-index: 0;
    transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 30px;
    line-height: normal;
}
.dropdown-menu-large input[type="submit"]:hover {
	background: #a51810;
}
.right-pad-15{
	padding-right: 15px;
}
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
	-webkit-transform:rotate(90deg);
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #none;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
.holder { 
  width: 300px; 
  padding: 10px;
}
.dropdown-menu-large ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #555 !important;
	font-size: 12px;
	font-family: Lato;
	font-style: italic;
	font-weight: 600;
  
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}
/*
.container{
	
	width: 1200px;
}
*/
.result{
	padding-top: 60px;
	padding-bottom: 60px;
}
.top-banner{
	
	background: url('/wp-content/uploads/2016/08/jadehillbanner.png') no-repeat center top / cover;
	height: 250px;
	background-position-y: 83%;
}
.top-banner h1{
	z-index: 8;
    /* min-width: 516px; */
    /* max-width: 516px; */
    white-space: normal;
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: "Doppio One";
    visibility: inherit;
    transition: none;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 24px;
    min-height: 0px;
    max-height: none;
    opacity: 1;
    transform-origin: 50% 50% 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 199px;
    text-align: center;
}
.result .element-item {
	
	
	margin-bottom: 3%;
}

.result .element-item .card-inner{
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin: 3%;
    margin-bottom: 10px;
    padding-bottom: 0px;
    position: relative;
    overflow: hidden;
    float: left;
    height: auto;
	height: 533px;
	width: 100%;
}
.result .element-item .card-inner section {
    padding: 0 2%;
    display: inline-block;
    width: 100%;
    border-bottom: 0px;
	margin-top: 10px;
	text-align: center;
	    position: absolute;
    bottom: 6px;
}
.result .element-item .card-info-phone p {
    line-height: 1.3em;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Lato;
    font-weight: 600;
    color: #333;
    margin: 5px 5px 8px;
}
.result .element-item .btn-red {
    font-size: 13px;
    text-transform: uppercase;
    padding: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    z-index: 0;
    transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 36px;
    line-height: normal;
    color: #fff;
}
.card-thumb{
	
	height: 200px;
    background: url('/wp-content/uploads/2016/08/img_not_available.jpg') no-repeat center;
}
.card-thumb img{
	
	height: 200px;
	width: 100%;
    object-fit: cover;
}
.result .element-item .overlay {
    position: absolute;
    background: #000;
    width: 100%;
    height: 600px;
    z-index: 110;
    opacity: .7;
    bottom: 0;
}
.horizon-hills .card-title {
    background-color: #da891f;
}
.jade-hill .card-title {
    background-color: #e4cb4d;
}
.highpark .card-title {
    background: #559e3c;
}
.the-robertson-residences .card-title {
    background-color: #411469;
}
.pricebox{
	padding-left: 22px;float:left; 
	width: 100%;
	line-height: normal;
}
.pricebox p{
	font-size: 12px;
    line-height: normal;
    margin-bottom: 3px;
	color: #333;
    font-weight: 600;
}
.pricebox input{
    line-height: 30px;
    height: 30px;
    box-shadow: none;
    border: 1px solid #fff;

}
.ul_pricerange {
    margin: 0;
}
.ul_pricerange li {
    line-height: normal;
    color: #464646;
    font-size: 12px;
    font-weight: 600;
    font-family: Lato;
    /* margin-bottom: 10px; */
    height: 27px;
    line-height: 12px;
	}
ul.ul_pricerange > li {
  //text-indent: -5px;
}
ul.ul_pricerange > li:before {
  display: inline-block;
    content: "-";
    width: 10px;
    margin-left: -10px;
}

@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
@media only screen and (max-width:1200px) {
p{
    font-size: 15px;
    line-height: 18px;
}
}
@media (min-width:768px) and (max-width:1024px) {
#searchform a.searchdropdown {
    font-size: 12px;
}
}