.section-view {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index:0;
}
#section-controller{
    position:absolute;
}
.section-wrap {
    position: relative;
}
.section {
    width: 100%;
    height: 100vh;
}

/* Section Controller */
#section-controller .section{
    opacity:.2;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.section1 {
    background-color: pink;
    z-index: 300;
}
.section2 {
    background-color: blue;
    z-index: 290;
}
.section3 {
    background-color: green;
    z-index: 280;
}
.section4 {
    background-color: grey;
    z-index: 270;
}

/* Animation Sections */
#section-anim{
    height:100vh;
    position:relative;
}
.desc-box{
    position:absolute;
    font-size:18px;
    line-height:22px;
    opacity:0;
}
.desc-title{
    position:absolute;
    bottom:100%;
}
.desc-title h5{
    font-size:30px;
    padding: 15px 25px !important;
    background-color: #1e1e1e;
    float:left;
    margin:0;
}
.desc-color{
    padding: 3% !important;
    color:#fff;
}
.desc-white{
    padding: 3% !important;
    background-color:#fff;
}

/* Index settings */
#inno-home{
    z-index:60;
}
#inno-master{
    z-index:50;
}
#inno-hydro{
    z-index:40;
}
#inno-terrain{
    z-index:30;
}
#inno-green{
    z-index:20;
}
#inno-learn{
    z-index:10;
}

/* Innovation Home and Innovation Creativity */
#inno-home .bg-behind{
    background-image:url(/wp-content/uploads/2016/08/innovation-home-bg.jpg);
}
#inno-home .bg-front{
    background-image:url(/wp-content/uploads/2016/08/innovation-house-bg.png);
    background-position:bottom center;
    background-repeat:no-repeat;
    z-index:1;
    position:absolute;
    bottom:0;
    top:0;
}
#inno-inno-chart{
    position: absolute;
    opacity:0;
    max-width: 100%;
    min-width: 400px;
    width: 29%;
    right: 20%;
    top: 10%;
}

/* Innovation Masterplanning */
#inno-master{
    position:absolute;
    display:none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#inno-master-left{
    background-image: url(/wp-content/uploads/2016/08/innovation-master-bg-left.jpg);
}
#inno-master-right{
    background-image: url(/wp-content/uploads/2016/08/innovation-master-bg-right.jpg);
}
/*
#inno-master-front{
    background-image: url(/wp-content/uploads/2016/08/innovation-master-house.png);
    background-repeat: no-repeat;
    background-position:bottom left;
    bottom: -7%;
    left: -.5%;
    z-index:1;
    opacity:0;
}
*/
#text-inno-master{
    max-width:1200px;
    width:63%;
    bottom:-5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
}
#text-inno-master-sm{
    padding: 50px 40px 40px 40px;
    width: 430px;
    background-image:url(/wp-content/uploads/2016/08/text-box-kk.png);
    background-size:contain;
    background-repeat:no-repeat;
    top:20%;
    right:20%;
}
#text-inno-master-sm ul li{
    padding-top:10px;
    padding-bottom:10px;
}
#inno-master .desc-color{
    background-image:url(/wp-content/uploads/2016/08/innovation-master-text-bg.jpg);
    background-size:cover;
}

/* Innovation Hydrology */
#inno-hydro{
    position:absolute;
    display:none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#inno-hydro-left{
    background-image: url(/wp-content/uploads/2016/08/innovation-hydro-bg-left.jpg);
}
#inno-hydro-right{
    background-image: url(/wp-content/uploads/2016/08/innovation-hydro-bg-right.jpg);
}
#inno-hydro .desc-color{
    background-image:url(/wp-content/uploads/2016/08/innovation-hydro-text-bg.jpg);
    background-size:cover;
}
#text-inno-hydro{
    max-width:1200px;
    width:63%;
    top:33%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
}