.page-id-349 .l-canvas{
    background-color:#1e1e1e;
}
.page-id-349 h3{
    font-size:60px;
    color:#fff;
    text-align:left;
    line-height:68px;
    margin:0;
}
.page-id-349 h3.dancing-script {
	font-size: 46px;
    letter-spacing:-3px;
	font-weight: normal;
	margin: 0;
	color: #fff;
	font-family: font-family: 'Dancing Script', cursive;
}

#about-us-scroll-anim, #botanic-scroll-anim { 
    position: relative; 
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
    right:0;
    bottom:0;
}

.pin-frame { 
    position: absolute; 
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
}
.milestone-container{
    padding-top:150px;
    position:relative;
    height:100%;
}
.milestone-container-middle{
    padding-top:0;
    height:100%;
}
.bg-wrap-left{
    top:100%;
    width:50% !important;
    background-position: center right;
    background-repeat: no-repeat;    
}
.bg-wrap-right{
    bottom:100%;
    width: 50% !important;
    right: 0 !important;
    background-position: center left;
    background-repeat: no-repeat;
}
.year-circle{
    position:absolute;
    border-radius:50%;
    background-color:red;
    height:130px;
    width:130px;
    z-index:1;
    box-shadow: 1px 1px 8px rgba(0,0,0,.6);
    opacity:1;
    transform: inherit !important;
}
.milestone-container-middle .year-circle{
    top: 50% !important;
    transform: translate(0, -50%) !important;
}
.year-circle h3{ 
    top: 50%; 
    left: 50%; 
    position: absolute; 
    transform: translate(-50%, -50%);
}
.text-box{
    position:absolute;
    z-index:1;
    text-align:left;
    opacity:0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.text-box h5{
    font-size:30px;
    font-family: Lato, sans-serif;
    color:#fff;
    margin:0 0 20px 0;
    font-weight:500;
}
.text-box p{
    font-family:Lato;
    font-size:18px;
    color:#fff;
    text-shadow: none;
    margin:0;
    line-height:21px;
}
.line-box{
    position: absolute;
    opacity:0;
    z-index:1;
    -webkit-transition: all 0.3s ease-out 0.15s;
    -moz-transition: all 0.3s ease-out 0.15s;
    -o-transition: all 0.3s ease-out 0.15s;
    transition: all 0.3s ease-out 0.15s;
}
.scroll-indicator{
    color:#d7d7d7;
    font-size:12px;
    position:fixed;
    top:50%;
    right:0; 
    transform: translate(0, -50%);
    padding:15px 25px 15px 15px;
    border-radius:15px 0 0 15px; 
    z-index:2;
    background-color:rgba(0,0,0,.7);
    text-align:right;
}
.scroll-indicator ul li{
    list-style: none;
    margin:5px 0;
    font-weight:bold;
}
.indicator-circle{
    width:12px;
    height:12px;
    background-color:#d7d7d7;
    margin-left:10px;
    border-radius:50%;
    display: inline-block;
    vertical-align: middle;
}
#ms-indicator-home{
    color:#ee2e24;
}
#ms-indicator-home .indicator-circle{
    background-color:#ee2e24;
}

/*
Milestone Slider Indicator
*/
#ms-indicator{
    display:block;
}
/*
Milestone Slider Bg Land
*/
#milestone-land { 
    position: relative; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    margin-bottom: -200px; 
    height:100vh;
}
#milestone-land-left{
    top:0; 
    background-image: url(/wp-content/uploads/2016/07/slider-milestone-left.jpg);
    height:100vh;
}
#milestone-land-right{
    bottom: 0; 
    background-image: url(/wp-content/uploads/2016/07/slider-milestone-right.jpg);
    height:100vh;
}
#text-milestone-land{
    top: 53%; 
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align:center;
}

/*
Milestone 2016 Slider Bg 1
*/
#milestone-slide-2016-1-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2016-1-left.jpg);
}
#milestone-slide-2016-1-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2016-1-right.jpg);
}
#year-circle-2016-1 {
    top:15%;
    left:17%; 
}
#text-2016-1{
    //top: 20%;
    //left: 33%;
    //width: 350px;
    left: 180px;
    top: 165px;
    width: 400px;
}
#text-2016-1 a, #text-2016-1 a:hover{
    color:#fff;
    font-style:italic;
    text-decoration:underline !important;
}
#line-2016-1{
    border-left: #fff solid 2px;
    border-bottom: #fff solid 2px;
    width: 25%;
    height: 11%;
    left: 29%;
    top: 370px;
}
#text-2016-1.active{
    opacity:1;
    top: 185px;
}
#line-2016-1.active{
    opacity:1;
    left: 29%;
}

/*
Milestone 2016 Slider Bg 5
*/
#milestone-slide-2016-5-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2016-5-left.jpg);
}
#milestone-slide-2016-5-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2016-5-right.jpg);
}
#year-circle-2016-5 {
    top:15%;
    left:17%; 
}
#text-2016-5{
    width: 550px;
    left: 180px;
    top: 210px;
}
#line-2016-5{
    width: 0;
    border-left: #fff solid 2px;
    height: 22%;
    left: 30%;
    top: 280px;
}
#text-2016-5.active{
    opacity:1;
    top: 180px;
}
#line-2016-5.active{
    opacity:1;
    top: 320px;
}

/*
Milestone 2016 Slider Bg 6
*/
#milestone-slide-2016-6-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2016-6-left.jpg);
}
#milestone-slide-2016-6-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2016-6-right.jpg);
}
#year-circle-2016-6 {
    top:50%;
    left:17%; 
    transform: translate(-50%, -50%);
}

#text-2016-6{
    width:100%;
    top: 50%; 
    left: 220px; 
    transform: translate(0, -50%);
    text-align:left;
}
#text-2016-6.active{
    opacity:1;
    left: 180px;
}
/*
Milestone 2016 Slider Bg 7
*/
#milestone-slide-2016-7-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2016-7-left.jpg);
}
#milestone-slide-2016-7-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2016-7-right.jpg);
}
#year-circle-2016-7 {
    top:15%;
    left:17%; 
}
#text-2016-7{
    width: 550px;
    top: 330px;
    left: 0;
}
#line-2016-7{
    border-right: #fff solid 2px;
    border-top: #fff solid 2px;
    width: 5%;
    width: 5%;
    height: 25%;
    left: 550px;
    top: 320px;
}
#text-2016-7.active{
    opacity:1;
    top: 300px;
}
#line-2016-7.active{
    opacity:1;
    top: 350px;
}

/*
Milestone 2015 Slider Bg 1
*/
#milestone-slide-2015-1-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2015-1-left.jpg);
}
#milestone-slide-2015-1-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2015-1-right.jpg);
}
#year-circle-2015-1 {
    top:15%;
    left:17%; 
}
#text-2015-1{
    top: 350px;
    left: 0;
    width: 350px;
}
#line-2015-1{
    border-left: #fff solid 2px;
    border-bottom: #fff solid 2px;
    top: 520px;
    left: 7%;
    height: 8%;
    width: 70%;
}
#text-2015-1.active{
    opacity:1;
    top: 320px;
}
#line-2015-1.active{
    opacity:1;
    left:10%;
}

/*
Milestone 2015 Slider Bg 2
*/
#milestone-slide-2015-2-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2015-2-left.jpg);
}
#milestone-slide-2015-2-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2015-2-right.jpg);
}
#year-circle-2015-2 {
    top:15%;
    left:17%; 
}
#text-2015-2{
    width: 550px;
    left: 180px;
    top: 205px;
}
#line-2015-2{
    width: 0;
    border-left: #fff solid 2px;
    height: 20%;
    left: 35%;
    top: 270px;
}
#text-2015-2.active{
    opacity:1;
    top: 185px;
}
#line-2015-2.active{
    opacity:1;
    top: 300px;
}

/*
Milestone 2015 Slider Bg 3
*/
#milestone-slide-2015-3-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2015-3-left.jpg);
}
#milestone-slide-2015-3-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2015-3-right.jpg);
}
#year-circle-2015-3 {
    top:15%;
    left:17%; 
}
#text-2015-3{
    width: 400px;
    bottom: 50px;
    left: 20px;
}
#line-2015-3{
    width: 4%;
    border-right: #fff solid 2px;
    border-bottom: #fff solid 2px;
    height: 35%;
    left: 430px;
    bottom: 120px;
}
#text-2015-3.active{
    left: 0;
    opacity:1;
}
#line-2015-3.active{
    opacity:1;
    bottom: 150px;
}

/*
Milestone 2014 Slider Bg 1
*/
#milestone-slide-2013-1-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2013-3-left.jpg);
}
#milestone-slide-2013-1-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2013-3-right.jpg);
}
#year-circle-2013-1 {
    top:15%;
    left:17%; 
}
#text-2013-1{
    width: 380px;
    bottom: 150px;
    left: 15%;
}
#line-2013-1{
    width: 0;
    border-left: #fff solid 2px;
    height: 10%;
    left: 30%;
    bottom: 80px;
}
#text-2013-1.active{
    opacity:1;
    bottom: 120px;
}
#line-2013-1.active{
    opacity:1;
    bottom: 30px;
}

/*
Milestone 2013 Slider Bg 1
*/
#milestone-slide-2013-2-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2013-1-left.jpg);
}
#milestone-slide-2013-2-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2013-1-right.jpg);
}
#year-circle-2013-2 {
    top:50%;
    left:17%; 
    transform: translate(-50%, -50%);
}
#text-2013-2{
    top: 50%; 
    text-align:left;
    width: 100%;
    left: 220px;
    transform: translate(0, -50%);
}
#text-2013-2.active{
    opacity:1;
    left:180px;
}

/*
Milestone 2013 Slider Bg 2
*/
#milestone-slide-2008-1-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2013-2-left.jpg);
}
#milestone-slide-2008-1-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2013-2-right.jpg);
}
#year-circle-2008-1 {
    top:15%;
    left:17%; 
}
#text-2008-1{
    width: 400px;
    left: 50px;
    bottom: 80px;
}
#line-2008-1{
    width: 0;
    border-left: #fff solid 2px;
    left: 25%;
    height: 15%;
    bottom: 170px;
}
#text-2008-1.active{
    opacity:1;
    bottom: 50px;
}
#line-2008-1.active{
    opacity:1;
    bottom: 220px;
}

/*
Milestone 2012 Slider Bg 1
*/
#milestone-slide-2012-1-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2012-1-left.jpg);
}
#milestone-slide-2012-1-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2012-1-right.jpg);
}
#year-circle-2012-1 {
    top:15%;
    left:17%; 
}
#text-2012-1{
    width: 450px;
    left: 13%;
    bottom: 23%;

}
#line-2012-1{
    width: 0;
    border-left: #fff solid 2px;
    height: 17%;
    left: 25%;
    bottom: 8%;
}
#text-2012-1.active{
    opacity:1;    
    bottom: 25%;
}
#line-2012-1.active{
    opacity:1;
    bottom: 5%;
}

/*
Milestone 2010 Slider Bg 1
*/
#milestone-slide-2011-1-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2010-1-left.jpg);
}
#milestone-slide-2011-1-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2010-1-right.jpg);
}
#year-circle-2011-1 {
    top:15%;
    left:17%; 
}
#text-2011-1{
    width: 450px;
    left: 180px;
    top: 160px;
}
#line-2011-1{
    width: 0;
    border-left: #fff solid 2px;
    left: 38%;
    top: 300px;
    height: 20%;
}
#text-2011-1.active{
    opacity:1;
    top: 185px;
}
#line-2011-1.active{
    opacity:1;
    top: 330px;
}

/*
Milestone 2007 Slider Bg 1
*/
#milestone-slide-2007-2-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2007-1-left.jpg);
}
#milestone-slide-2007-2-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2007-1-right.jpg);
}
#year-circle-2007-2 {
    top:15%;
    left:17%; 
}
#text-2007-2{
    width: 500px;
    left: 60px;
    bottom: 50px;
}
#line-2007-2{
    border-right: #fff solid 2px;
    border-bottom: #fff solid 2px;
    bottom: 90px;
    height: 37%;
    width: 5%;
    left: 550px;
}
#text-2007-2.active{
    opacity:1;
    left:30px;
}
#line-2007-2.active{
    opacity:1;
    bottom: 120px;
}

/*
Milestone 2006 Slider Bg 1
*/
#milestone-slide-2007-1-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2006-1-left.jpg);
}
#milestone-slide-2007-1right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2006-1-right.jpg);
}
#year-circle-2007-1 {
    top:15%;
    left:17%; 
}
#text-2007-1{
    width: 480px;
    left: 180px;
    top: 165px;
}
#line-2007-1{
    width: auto;
    border-left: #fff solid 2px;
    top: 350px;
    left: 32%;
    height:15%;
}
#text-2007-1.active{
    opacity:1;
    top: 185px;
}
#line-2007-1.active{
    opacity:1;
    top: 380px;
}

/*
Milestone 2005 Slider Bg 1
*/
#milestone-slide-2005-1-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2005-1-left.jpg);
}
#milestone-slide-2005-1-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-2005-1-right.jpg);
}
#year-circle-2005-1 {
    top:50%;
    left:17%; 
    transform: translate(-50%, -50%);
}
#text-2005-1{
    top: 50%; 
    transform: translate(0, -50%);
    text-align: left;
    width: 100%;
    left: 220px;
}
#text-2005-1.active{
    opacity:1;
    left: 180px;
}

/*
Milestone 1999 Slider Bg 1
*/
#milestone-slide-2001-1-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-1999-1-left.jpg);
}
#milestone-slide-2001-1-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-1999-1-right.jpg);
}
#year-circle-2001-1 {
    top:15%;
    left:17%; 
}
#text-2001-1{
    width: 480px;
    left: 180px;
    top: 205px;
}
#line-2001-1{
    width: 0;
    border-left: #fff solid 2px;
    height: 30%;
    left: 32%;
    top: 300px;
}
#text-2001-1.active{
    opacity:1;
    top: 185px;
}
#line-2001-1.active{
    opacity:1;
    top: 330px;
}

/*
Milestone 1998 Slider Bg 1
*/
#milestone-slide-2000-1-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-1998-1-left.jpg);
}
#milestone-slide-2000-1-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-1998-1-right.jpg);
}
#year-circle-2000-1 {
    top:15%;
    left:17%; 
}
#text-2000-1{
    width: 450px;
    left: 180px;
    top: 165px;
}
#line-2000-1{
    border-left: #fff solid 2px;
    height: 15%;
    width:0;
    left: 30%;
    top: 340px;
}
#text-2000-1.active{
    opacity:1;
    top: 185px;
}
#line-2000-1.active{
    opacity:1;
    top: 370px;
}

/*
Milestone 1995 Slider Bg 1
*/
#milestone-slide-1995-1-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-1995-1-left.jpg);
}
#milestone-slide-1995-1-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-1995-1-right.jpg);
}
#year-circle-1995-1 {
    top:15%;
    left:17%; 
}
#text-1995-1{
    left: 20px;
    top: 320px;
    width: 450px;
}
#line-1995-1{
    width: 0;
    border-left: #fff solid 2px;
    height: 10%;
    left: 15%;
    top: 470px;
}
#text-1995-1.active{
    opacity:1;
    top: 350px;
}
#line-1995-1.active{
    opacity:1;
    top: 500px;
}

/*
Milestone 1995 Slider Bg 2
*/
#milestone-slide-1995-2-left{ 
    background-image: url(/wp-content/uploads/2016/07/slider-1995-2-left.jpg);
}
#milestone-slide-1995-2-right{ 
    background-image: url(/wp-content/uploads/2016/07/slider-1995-2-right.jpg);
}
#year-circle-1995-2 {
    top:15%;
    left:17%; 
}
#text-1995-2{
    left:180px;
    top:185px;
    width:380px;
}
#text-1995-2.active{
    opacity:1;
    left:180px;
}

@media only screen and (max-width:1200px) {
    .page-id-349 h3{
        font-size:48px;
        line-height:52px;
    }
    
    .slider-breadcrumbs {
        width:100%;
        padding-left:20px;
        padding-right:20px;
    }
}