
.page-id-3978 .mouse{
    bottom:50vh;
}
.page-id-3978 ul {
	font-family: Lato;
    font-size: 18px;
    font-weight: 250;
}

.page-id-3978 ul li { padding: 5px 0px; }

.philosophy-background-one {
	position: fixed;
	height: 100vh;
	width: 100%;
	background: url(/wp-content/uploads/2016/08/our-philosophy-1.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.philosophy-background-two {
	position: fixed;
	height: 100vh;
	width: 100%;
	background: url(/wp-content/uploads/2016/08/our-philosophy-2.png);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0;
	/*z-index: 1;*/
}

.philosophy-background-three {
	position: fixed;
	height: 100vh;
	width: 100%;
	background: url(/wp-content/uploads/2016/08/our-philosophy-3.png);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0;
	padding-bottom:30px;
	/*z-index: 1;*/
}

.philosophy-background-four {
	position: fixed;
	height: 100vh;
	width: 100%;
	background: url(/wp-content/uploads/2016/08/our-philosophy-4.png);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0;
    padding-bottom:30px;
	/*z-index: 1;*/
}

.philosophy-background-five {
	position: fixed;
	height: 100vh;
	width: 100%;
	background: url(/wp-content/uploads/2016/08/our-philosophy-5.png);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0;
	/*z-index: 1;*/
}

.philosophy-background-six {
	position: fixed;
	height: 100vh;
	width: 100%;
	background: url(/wp-content/uploads/2016/08/our-philosophy-6.png);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0;
	padding-bottom:30px;
	/*z-index: 1;*/
}

/* .philosophy-background-seven {
	position: fixed;
	height: 100vh;
	width: 100%;
	background: url("http://128.199.89.40/wp-content/uploads/2016/07/main-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0;
	padding-bottom:30px;
} */

.philosophy-one {
	position: relative;
	height: 150vh;
}

.philosophy-first-part {
	top: 50vh;
	transform: translate(0, 40vh);
}

.philosophy-header-one {
	display: inline-block;
	color: white;
	width: 100%;
	font-size: 56px !important;
	text-align: center;
	font-weight: 400;
}

.philosophy-text-one {
	display: inline-block;
	color: white;
	width: 100%;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	font-weight: 400;
}

.straight-white-line {
	position: relative;
	background: white;
	width: 2px;
	height: 35vh;
	left: 50%;
	transform: translate(-50%, 0);
}

.philosophy-two {
	position: relative;
	height: 100vh;
	z-index: -1;
}

.straight-white-line-two {
	position: absolute;
/*    margin-top: 12vh;*/
    margin-top:132px;
    background: white;
    width: 2px;
    height: 451px;
    left: 50%;
    transform: translate(-50%, 0);
}

.straight-white-line-three {
    height: 679px;
}

.straight-white-line-four {
    height: 605px;
}

.straight-white-line-five {
    height: 506px;
}
.mouse-bottom {
	bottom: -13vh !important;
}

.timeline-init {
	
}

.philosophy-first-message{
	width: 300px;
	color: white;
/*	padding-top: 27vh;*/
    padding-top:200px;
}

.philosophy-first-message p{
	padding: 10px;
	border-style: solid;
	border-spacing: 10px;
	border-color: white;
	border-width: 1px;
}

.philo{
    width: 300px;
	margin-top: 10px;
    margin-left: 0px;
	position:relative;
}

.philo::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philosophy-a {
	width: 60px;
	height: 60px;
	background: #1C1C1C;
	font-size: 42px;
	color: white;
	text-align: center;
	padding: 0;
	padding-top: 19px;
}

.philosophy-a-title{
	width: 240px;
	height: 60px;
	font-size: 18px;
	background: #D20013; 
	color: white;
	padding: 0;
	padding-left: 12px;
	padding-top: 6px;
}

.philo-2{
	margin-top: 10px;
    margin-left: 0px;
    width: 300px;
	position:relative;
}

.philo-2::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philo-3{
	margin-top: 10px;
    margin-left: 0px;
    width: 300px;
	position:relative;
}

.philo-3::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philo-4 {
    margin-top: 10px;
    margin-left: 0px;
    width: 300px;
    text-align: center;
	position:relative;
}

.philo-4::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philosophy-value {
	width: 215px;
	height: 40px;
	font-size: 12px;
	background: #D20013; 
	color: white;
	padding-top: 8px;
	position:relative;
}

.philosophy-value-bigger {
	width: 415px;
	height: 60px;
	font-size: 28px;
	background: #D20013; 
	color: white;
	padding: 0;
	padding-left: 15px;
	padding-top: 18px;
	font-weight: 300;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
|           PHILOSOPHY A           |
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.philosophy-three {
	position: relative;
	height: 100vh;
	z-index: -1;
}

.philo-first-a {
	width: 540px;
	margin-top: 200px;
    margin-left: 0px;
    position:relative;
}

.philo-first-a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philosophy-second-message{
	right: 0;
	width: 265px;
	color: white;
	padding-top: 200px;
	line-height: 125%;
	float: right;
}

.philosophy-second-message p{
	padding: 10px;
	border-style: solid;
	border-spacing: 10px;
	border-color: white;
	border-width: 1px;
	font-size: 15px;
}

.philosophy-a-title-enlarge {
	width: 480px;
	height: 60px;
	font-size: 30px;
	background: #124AA2; 
	color: white;
}

.philo-first-a-description {
	width: 580px;
    /*margin-top: 10px;*/
    margin-left: 0px;
}

.philosophy-a-empty {
	width: 60px;
	height: 60px;
}

.philosophy-a-description {
	width: 480px;
	padding: 10px;
	background: #0C2343; 
	color: white;
}

.philo-first-b {
	width: 215px;
	margin-top: 10px;
    margin-left: 0px;
    position:relative;
}

.philo-first-b::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philosophy-small {
	width: 40px;
	height: 40px;
	background: #1C1C1C;
	font-size: 24px;
	line-height: 100%;
    color: white;
    text-align: center;
    padding: 0;
    padding-top: 8px;
}

.philosophy-small-title {
	width: 175px;
	height: 40px;
	font-size: 12px;
	background: #D20013; 
	line-height: 100%;
	color: white;
}

.philo-first-c {
	width: 215px;
	margin-top: 10px;
    margin-left: 0px;
    position:relative;
}

.philo-first-c::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philo-first-value {
    margin-top: 10px;
    margin-left: 0px;
    width: 215px;
    text-align: center;
    position:relative;
}

.philo-first-value::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
|           PHILOSOPHY B           |
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.philosophy-four {
	position: relative;
	height: 100vh;
	z-index: -1;
}

.philo-second-b {
	width: 580px;
	margin-top: 10px;
    margin-left: 0px;
    position:relative;
}

.philo-second-b::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philosophy-third-message{
	right: 0;
	width: 330px;
	color: white;
	padding-top: 175px;
	line-height: 125%;
	float: right;
}

.philosophy-third-message p{
	padding: 10px;
	border-style: solid;
	border-spacing: 10px;
	border-color: white;
	border-width: 1px;
	font-size: 15px;
}

.philosophy-b-title-enlarge {
	width: 520px;
	height: 60px;
	font-size: 24px;
	background: #3D610A; 
	color: white;
}

.philo-first-b-description {
	width: 80%;
    /*margin-top: 10px;*/
    margin-left: 0px;
}

.philosophy-empty {
	width: 60px;
	height: 60px;
}

.philosophy-b-description {
	width: 520px;
	padding: 10px;
	background: #253000; 
	color: white;
	line-height: 150%;
}

.philo-second-a {
	width: 215px;
	margin-top: 125px;
    margin-left: 0px;
    position:relative;
}

.philo-second-a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philosophy-b {
	width: 40px;
	height: 40px;
	background: #1C1C1C;
	font-size: 24px;
	line-height: 100%;
    color: white;
}

.philosophy-b-title {
	width: 55%;
	height: 40px;
	font-size: 12px;
	background: #D20013; 
	line-height: 100%;
	color: white;
}

.philo-second-c {
	width: 215px;
	margin-top: 25px;
    margin-left: 0px;
    position:relative;
}

.philo-second-c::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philo-second-value {
    margin-top: 10px;
    margin-left: 0px;
    width: 215px;
    text-align: center;
    position:relative;
}

.philo-second-value::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.list-smaller-font {
	font-size: 15px !important;
}

.circle-type {
	list-style-type: circle;
}

.none-type {
	list-style-type: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
|           PHILOSOPHY C           |
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.philosophy-five {
	position: relative;
	height: 100vh;
	z-index: -1;
}

.philosophy-fourth-message{
	right: 0;
	width: 300px;
	color: white;
	padding-top: 226px;
	line-height: 125%;
	float: right;
}

.philosophy-fourth-message p{
	padding: 10px;
	border-style: solid;
	border-spacing: 10px;
	border-color: white;
	border-width: 1px;
	font-size: 15px;
}

.philo-third-a {
	width: 215px;
	margin-top: 125px;
    margin-left: 0px;
    position:relative;
}

.philo-third-a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philo-third-b {
	width: 215px;
	margin-top: 10px;
    margin-left: 0px;
    position:relative;
}

.philo-third-b::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philo-third-c {
	width: 580px;
	margin-top: 10px;
    margin-left: 0px;
    position:relative;
}

.philo-third-c::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philosophy-c-title-enlarge {
	width: 480px;
	height: 60px;
	font-size: 24px;
	background: #185044; 
	color: white;
}

.philosophy-c-description {
	width: 480px;
	padding: 10px;
	background: #0F2A26; 
	color: white;
	line-height: 150%;
}

.philo-third-value {
    margin-top: 10px;
    margin-left: 0px;
    width: 215px;
    text-align: center;
    position:relative;
}

.philo-third-value::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
|         PHILOSOPHY VALUE         |
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.philosophy-six {
	position: relative;
	height: 100vh;
}

.straight-white-line-final {
	position: absolute;
/*    margin-top: 12vh;*/
    margin-top:132px;
    background: white;
    width: 2px;
    height: 182px;
    left: 50%;
    transform: translate(-50%, 0);
}

.philo-final-a {
	width: 215px;
	margin-top: 125px;
    margin-left: 0px;
	position: relative;
}

.philo-final-a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philo-final-b {
	width: 215px;
	margin-top: 10px;
    margin-left: 0px;
	position: relative;
}

.philo-final-b::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philo-final-c {
	width: 215px;
	margin-top: 10px;
    margin-left: 0px;
	position: relative;
}

.philo-final-c::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:50%;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philosophy-dark {
	width: 40px;
	height: 40px;
	background: #1C1C1C;
	font-size: 24px;
	color: white;
	text-align: center;
	padding: 0;
	padding-top: 8px;
}

.philosophy-dark-title {
	width: 175px;
	height: 40px;
	font-size: 12px;
	background: #333333; 
	color: white;
	line-height: 100%;
	padding-top:8px;
}

.philo-enlarged {
    width: 415px;
	margin-top: 10px;
	margin-left: 0px;
	position:relative;
}

.philo-enlarged::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #f6f7f9;
    top:38px;
    left:-4px;
    transform: translate(-50%, -50%);
}

.philosophy-value-description {
	background: white;
	width: 415px;
	text-align: left;
	padding-bottom: 20px;
}

.philosophy-value-description p{
	padding: 30px 10px 10px 10px;
}

.philosophy-seven {
	position: relative;
	height: 55vh;
	width: 100%;
	background: url("http://128.199.89.40/wp-content/uploads/2016/07/main-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom:30px;
	padding:0;
}
.philosophy-seven .more-about-us-section{
	position: relative;
    top: 50px;
}
.philosophy-seven .more-about-us-section .np-img{
	padding-left:0 !important;
}
.philosophy-seven .more-about-us-section .pp-img{
	padding-right:0 !important;
}


.red-text {
	color: #D20013;
	font-size: 26px;
	font-weight: bold;
}

.value-description {
	font-weight: 400;
	line-height: 125%;
}

.big-one-line-correction {
	padding-top: 18px;
}

.one-small-line-correction {
	padding-top: 13px;
}

.two-small-line-correction {
	padding-top: 8px;
}

.large-title-correction {
	padding: 0;
	padding-left: 15px;
	padding-top: 18px;
}
@media (min-width:768px) and (max-width:1400px) {
.philosophy-a-title-enlarge{
    font-size:24px;
}
.page-id-3978 p{
	font-size:15px;
}
.page-id-3978 ul{
    font-size:15px;
}
.philosophy-left{
    width:33.33%;
}
.philosophy-right{
    width:66.67%;
}
.straight-white-line-two{
    left:33.8%;
}
.straight-white-line-five {
    height: 506px;
}
.straight-white-line-four {
	height: 563px;
}
.philosophy-second-message{
    padding-top:150px;
}
.row .philo-first-a{
    margin-top:150px;
}
.philosophy-background-three{
    padding-bottom:30px;
}
.straight-white-line-final{
    left:33.7%;
    height: 182px;
}
.philo-enlarged{
    width:60%;
}
.philosophy-value-bigger, .philosophy-value-description{
    width:100%
}
.philo-first-a{
    margin-top:150px;
}
.straight-white-line-three {
    height: 581px;
}
    
}