/* General */
#bb-indicator-home{
    color:#ee2e24;
}
#bb-indicator-home .indicator-circle{
    background-color:#ee2e24;
}
.grey-box-bg{
	background-image:url(/wp-content/uploads/2016/09/master-grey-bg.jpg);
	background-repeat:repeat-y;
	background-size:100%;
	position:absolute;
	bottom:100%;
	height:100vh;
	width:100%;
	display:none;
	opacity:0;
}
body.page-id-6933{
	overflow:hidden;
	height:100vh;
	width:100vw;
}
#botanic-indicator{
	transform:inherit;
	margin-top:-9%;
}
#botanic-indicator ul{
	margin:0;
}
#botanic-indicator ul li{
	cursor:pointer;
}
#botanic-box-wrap {
	width: 100%;
	height: auto;
	position: relative;
	top: 0;
	background-image: url(/wp-content/uploads/2016/08/botanic-slider-home.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}
.botanic-section-wrap{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}
#botanic-box-wrap .bg-full-wrap{
	position:absolute;
	width:100%;
	height:100vh;
	overflow:hidden;
	background-size:cover;
	background-position:center;
}
#botanic-box-wrap .bg-halfwrap-left{
    width: 50%;
	height:100vh;
    background-position: center right;
    background-repeat: no-repeat;	
	position:absolute;
	background-size:cover;
}
#botanic-box-wrap .bg-halfwrap-right{	
	bottom:100%;
    width: 50%;
    right: 0;
	height:100vh;
    background-position: center left;
    background-repeat: no-repeat;
	position:absolute;
	background-size:cover;
}
.botanic-text-box{	
	position: absolute;
    top: 47%;
    left: 0;
	margin-top:-14.5%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	opacity:0;
	padding:2% 3%;
}
#botanic-box-wrap h5{
    font-size: 30px;
    font-family: Lato, sans-serif;
    color: #fff;
    margin: 0 0 20px 0;
    font-weight: 500;
}
#botanic-box-wrap p{
	color:#fff;
}
.botanic-text-box p{
	color:#fff;
}
#botanic-box-overview, #botanic-box-features, #botanic-box-facilities, #botanic-box-master, #botanic-box-happenings, #botanic-box-other-dev{
	position:relative;
}
.master-title-box1, .master-map-box1, .master-text-box1, .master-text-box2-left, .master-text-box2-right, .master-text-box3, .master-text-box4{
	display:none;
}

/* Home */
#botanic-box-main {
	width: 100vw;
	height: 100vh;
	position: relative;
	left: 0;
}
.main-text-box1, .main-text-box2{
	width:1024px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-512px;
	margin-top:-4.5%;
	opacity:0;
}
.main-text-box2{
	top:45%;
}
.main-text-box1 h5, .main-text-box2 h5{
	margin-bottom:0 !important;
}
.main-text-box1 .main-text-box-left, .main-text-box1 .main-text-box-right, .main-text-box2 .main-text-box-left, .main-text-box2 .main-text-box-right{
	width:46%;
	display:inline-block;
	vertical-align:middle;
	padding:2%;
	position:relative;
}
.main-text-box1 .main-text-box-right, .main-text-box2 .main-text-box-right{
	border-left: 1px #fff solid;
}
.main-text-box1 .main-text-box-left img{
	margin-right:-10%;
	opacity:0;
}
.main-text-box1 .main-text-box-right h5{
	margin-left:-10%;
	opacity:0;
}
.main-text-box2 .main-text-box-left h5{
    z-index: 1;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translate(0, -50%);
    margin-bottom: 0;
}
.main-text-box2 .main-text-box-left svg{
	z-index: 0;
    position: relative;
    vertical-align: middle;
    margin-top: -4px;
    float: right;
}
#botanic-box-main .bg-full-wrap{
	background-image: url(/wp-content/uploads/2016/08/botanic-slider-home.jpg);
}
#botanic-box-main .bg-halfwrap-left{
	background-image: url(/wp-content/uploads/2016/08/botanic-slider-home-2-left.jpg);
	opacity:0;
	top:0;
}
#botanic-box-main .bg-halfwrap-right{
	background-image: url(/wp-content/uploads/2016/08/botanic-slider-home-2-right.jpg);
	opacity:0;
	bottom:0;
}

/* Overview */
#botanic-box-overview {
	/*top:100%;*/
}
#botanic-box-overview .botanic-text-box{
	background-image:url(/wp-content/uploads/2016/08/slide-overview-textbox.png);
	left:-30px;
	width:600px;
}
#botanic-box-overview .bg-halfwrap-left{
	background-image: url(/wp-content/uploads/2016/08/botanic-slider-overview-left.jpg);
	top:0;
}
#botanic-box-overview .bg-halfwrap-right{
	background-image: url(/wp-content/uploads/2016/08/botanic-slider-overview-right.jpg);
	bottom:200%;
	display:none;
}

/* Features */
#botanic-box-features .features1.bg-halfwrap-left{
	background-image: url(/wp-content/uploads/2016/09/botanic-slider-features-1-left.jpg);
}
#botanic-box-features .features1.bg-halfwrap-right{
	background-image: url(/wp-content/uploads/2016/09/botanic-slider-features-1-right.jpg);
	bottom:200%;
	display:none;
}
#botanic-box-features .desktop-tab-group{
	background-image:url(/wp-content/uploads/2016/09/bb-features-text-bg.png);
	top:70%;
	width:630px;
}
#botanic-box-features .desktop-tab-group ul{
	margin:0;
}
#botanic-box-features .desktop-tab-group ul li{
	padding:10px;
	color:#fff;
	cursor:pointer;
}
#botanic-box-features .desktop-tab-group ul li.active{
	background-color:#fff;
	font-size:24px;
	line-height: 31px;
	pointer-events:none;
}
#botanic-box-features .desktop-tab-group ul li:nth-child(1).active{
	color:#27918b;
}
#botanic-box-features .desktop-tab-group ul li:nth-child(2).active{
	color:#32c3cc;
}
#botanic-box-features .desktop-tab-group ul li:nth-child(3).active{
	color:#26bea3;
}
#botanic-box-features .desktop-tab-group .desktop-tab{
	display: none;
    opacity: 0;
}
#botanic-box-features .desktop-tab-group .desktop-tab1 {
    display: block;
    opacity: 1;
}

/* Facilities */
#botanic-box-facilities .botanic-text-box{
	background-image:url(/wp-content/uploads/2016/09/bb-facilities-text-bg.png);
	width:650px;
}
#botanic-box-facilities .bg-halfwrap-left{
	top:0;
	background-image: url(/wp-content/uploads/2016/08/botanic-slider-facilities-left.jpg);
}
#botanic-box-facilities .bg-halfwrap-right{
	bottom:0;
	background-image: url(/wp-content/uploads/2016/08/botanic-slider-facilities-right.jpg);
}

/* Master */
#botanic-box-master{	
	opacity:1;
	background-image:url(/wp-content/uploads/2016/09/master-grey-bg.jpg);
	background-repeat:repeat-y;
	background-size:100%;
}
#botanic-box-master .master1{
	background-image: url(/wp-content/uploads/2016/08/botanic-slider-master-1.jpg);
	opacity:0;
	background-position:top center;
	transition: background-position ease 0.4s;
}
#botanic-box-master .master1.moveBg{
	background-position:bottom center;
	transition: background-position ease 0.4s;
	background-size:inherit;
}
#botanic-box-master .master2{
    background-image: url(/wp-content/uploads/2016/08/botanic-slider-master-2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    bottom: 0;
    height: 0;
	background-size:inherit;
}
#botanic-box-master .master3.bg-halfwrap-left{
	background-image: url(/wp-content/uploads/2016/08/botanic-slider-master-3-left.jpg);
	top:0;
	display:none;
	opacity:0;
}
#botanic-box-master .master3.bg-halfwrap-right{
    background-image: url(/wp-content/uploads/2016/08/botanic-slider-master-3-right.jpg);
	bottom:0;
	display:none;
	opacity:0;
}
#botanic-box-master .master4.bg-halfwrap-left{
	background-image: url(/wp-content/uploads/2016/08/botanic-slider-master-4-left.jpg);
	top:100%;
	display:none;
}
#botanic-box-master .master4.bg-halfwrap-right{
    background-image: url(/wp-content/uploads/2016/08/botanic-slider-master-4-right.jpg);
	display:none;
	bottom:100%;
}
#botanic-box-master .master-title-box1{
	position:relative;
	width:100%;
	max-width:1200px;
	margin:0 auto;
	padding-top:140px;
}
#botanic-box-master .master-map-box1{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: -40px auto 0 auto;
	opacity:0;
}
#botanic-box-master .master-map-box1 img{
	width: 58%;
    margin-left: 21%;
}
#botanic-box-master .master-text-box1{
	width:100%;
	margin-left:-100%;
    background-image: url(/wp-content/uploads/2016/08/slide-master-slide-1-shape.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 20px 2% 20px;
    opacity: 0;
	position:relative;
	margin-top:5%;
}
#botanic-box-master .master-text-box1 .text-box-border{
	max-width:1200px;
	padding:15px;
	margin:0 auto;
	opacity:0;
}
#botanic-box-master .master-text-box2-left{
    padding: 2% 2% 2% 2%;
    width: 49%;
    top: 200px;
    left: -100%;
    background-image: url(/wp-content/uploads/2016/08/slide-master-slide-2-shape-left.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#botanic-box-master .master-text-box2-left .text-box-border{
	max-width: 550px;
    float: right;
}
#botanic-box-master .master-text-box2-right{	
    padding: 3% 2% 3% 2%;
    width: 49%;
    top: 200px;
    right: -100%;
    background-image: url(/wp-content/uploads/2016/08/slide-master-slide-2-shape-right.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#botanic-box-master .master-text-box2-right .text-box-border{
	max-width: 550px;
    float: left;
}
#botanic-box-master .master-text-box3, #botanic-box-master .master-text-box4{
	top:0;
}
#botanic-box-master .master-text-box3-top{
    position: relative;
    margin-top: 10%;
    padding: 20px 40px;
    background-image: url(/wp-content/uploads/2016/08/slide-master-slide-3-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    opacity: 1;
}
#botanic-box-master .master-text-box3-bottom{
    position: relative;
    padding: 20px 30px 20px 35px;
    background-image: url(/wp-content/uploads/2016/08/slide-master-slide-3-bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    float: left;
    margin-top: 15px;
}
#botanic-box-master .master-text-box4-top{
    position: relative;
    margin-top: 10%;
    padding: 20px 40px;
    background-image: url(/wp-content/uploads/2016/08/slide-master-slide-4-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    opacity: 1;
}
#botanic-box-master .master-text-box4-bottom{
    position: relative;
    padding: 20px 30px 20px 35px;
    background-image: url(/wp-content/uploads/2016/08/slide-master-slide-4-bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    float: left;
    margin-top: 15px;
}

/* Happenings */
#botanic-box-happenings{
    background-image: url(/wp-content/uploads/2016/07/main-bg.jpg);
    background-size: cover;
}
#botanic-box-happenings>section{
    position: absolute !important;
    right: 0;
    left: 0;
    top: 42%;
    bottom: 0;
    transform: translate(0, -50%);
}

/* Other Dev */
#botanic-box-other-dev{
    background-image: url(/wp-content/uploads/2016/07/main-bg.jpg);
    background-size: cover;
	height:60vh;
	/*bottom:-60%;
	top:auto;*/
}
#botanic-box-other-dev>section{
    padding-bottom: 0px !important;
    position: absolute !important;
    right: 0;
    left: 0;
    top: 60px;
    bottom: 0;
}
#botanic-box-other-dev>section .vc_custom_1470677939006{
	padding:0;
}

/* #botanic-box-footer{
	position:absolute;
	width:100%;
	
} */
@media only screen and (max-width:1400px) {
.page-id-6933 p{
	font-size:15px;
}
.page-id-6933 h5{
	font-size:24px;
}
/* #map-botanic-master-1{
	padding:0 20px;
}
#map-botanic-master-1 img {
    width: 50%;
	left:57%;
}
#text-botanic-master-1{
	padding: 3% 25px 2% 25px;
} */
}
@media (min-width:1200px) and (max-width: 1366px){
#botanic-box-happenings article.element-item > header > a {
	height:170px;
	overflow: hidden;
}
#botanic-box-happenings .btn-botanic-discovery{
	bottom:30px;
}
}
@media only screen and (max-width: 1200px){
#botanic-box-master .master-title-box1{
    padding-left: 20px;
    padding-right: 20px;
}
}

@media (min-width:1025px) and (max-width:1400px) {
#botanic-box-facilities .botanic-text-box{
	margin-left:35%;
}
}
#botanic-box-master .master-text-box1{
	margin-top:1.5%;
}
#botanic-box-master .master-text-box3 {
	width:100%;
	margin-left:-700px;
	max-width:1400px;
	left:50%;
}
#botanic-box-master .master-text-box3-top{
	width:35%;
	margin-left:25px;
}
#botanic-box-master .master-text-box3-bottom{
	width:47%;
	margin-top:120px;
}
#botanic-box-master .master-text-box4{
	width:100%;
	margin-left:-700px;
	max-width:1400px;
	left:50%;
}
#botanic-box-master .master-text-box4-top{
	width: 35%;
	margin-left:25px;
}
#botanic-box-master .master-text-box3-bottom{
	width: 47%;
    margin-left: 25px;
	margin-top:120px;
}