

.text-botanic-land{
    top: 53%; 
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align:center;
}
.text-botanic-land .text-box-left, .text-botanic-land .text-box-right{
    display:inline-block;
    vertical-align:middle;
}
.text-botanic-land .text-box-right{
    padding:25px 20px;
    text-align:left;
}
.text-botanic-land .text-box-left{
    padding:20px;
    border-right:1px #fff solid;
}

/*
Bandar Botanic Slider 1
*/
#text-botanic-land-1{
    opacity:0;
}
.text-botanic-land .text-box-right h5{
    margin:0;
}
#botanic-land-slide-1{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-home.jpg);
    opacity:1;
}

/*
Bandar Botanic Slider 2
*/
#botanic-land-slide-2-left{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-home-2-left.jpg);
    top:0;
    opacity:0;
}
#botanic-land-slide-2-right{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-home-2-right.jpg);
    bottom:0;
    opacity:0;
}
#text-botanic-land-2{
    opacity:0;
    top:50%;
    display:flex;
    min-width:1010px;
}
#text-botanic-land-2 h5{
    z-index:1;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translate(0, -50%);
}
#text-botanic-land-2 svg{
    z-index: 0;
    position: relative;
    vertical-align: middle;
    margin-top: 27px;
}
#text-botanic-land-2 .text-box-left{
    text-align:right;
    border-right:0;
}
#text-botanic-land-2 .text-box-right{
    border-left:1px #fff solid;
}

/*
Bandar Botanic Slider 3
*/
#botanic-overview-slide-left{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-overview-left.jpg);
}
#botanic-overview-slide-right{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-overview-right.jpg);
}
#text-botanic-overview{
    width: 600px;
    z-index: 0;
    right: 15%;
    top: 50%;
    transform: translate(0, -50%);
    padding: 50px;
    opacity:0;
    background-image:url(/wp-content/uploads/2016/08/slide-overview-textbox.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*
#text-botanic-overview svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
*/
#text-botanic-overview .text-box-border{
    padding:20px;
    border:1px #fff solid;
}

/*
Bandar Botanic Features Slider 1
*/
#botanic-features-slide-1-left{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-features-1-left.jpg);
}
#botanic-features-slide-1-right{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-features-1-right.jpg);
}
#text-botanic-features{
    width: 630px;
    z-index: 0;
    right: 53%;
    top: 56%;
    transform: translate(0, -50%);
    padding: 35px 50px;
    opacity:0;
    z-index:1;
}
#text-botanic-features svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.text-box-border{
    padding:20px;
    border:1px #fff solid;
}
#text-botanic-features ul{
    margin:0; 
}
#text-botanic-features ul li{
    list-style: none;
    display:inline-block;
    vertical-align: middle;
}
.slide-tab{
    font-size:10px;
    color:#fff;
    padding:10px;
    font-family: Lato, sans-serif;
    font-weight:500;
}
#text-botanic-features #tab1{
    font-size:30px;
    color:#16827c;
    background-color:#fff;
}
#tab1-text{
    display:block;
}



/*
Bandar Botanic Features Slider 2
*/
#botanic-features-slide-2{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-features-2.jpg);
    opacity:0;
}
#tab2-text, #tab3-text{
    display:none;
}
#tab2-bg, #tab3-bg{
    opacity:0;
}

/*
Bandar Botanic Features Slider 3
*/
#botanic-features-slide-3-left{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-features-3-left.jpg);
    opacity:0;
    top:0;
}
#botanic-features-slide-3-right{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-features-3-right.jpg);
    opacity:0;
    bottom:0;
}

/*
Bandar Botanic Facilities Slider
*/
#botanic-facilities-slide-left{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-facilities-left.jpg);
}
#botanic-facilities-slide-right{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-facilities-right.jpg);
}
#text-botanic-facilities{
    width: 650px;
    z-index: 0;
    right: 14%;
    top: 56%;
    transform: translate(0, -50%);
    padding: 50px;
    opacity:0;
    z-index:1;
}
#text-botanic-facilities svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#text-botanic-facilities ul{
    list-style: none;
    margin:0;
}
#text-botanic-facilities ul li{
    vertical-align: middle;
    color:#019204;
    padding:5px 0;
    font-weight:700;
}
#text-botanic-facilities .list-style-tick{
    width: 20px;
    height: 20px;
    background-image: url(/wp-content/uploads/2016/08/list-style-tick.png);
    background-size: contain;
    background-repeat: no-repeat;
    display:inline-block;
    margin-right:10px;
    vertical-align: middle;
}
#facilities-list{
    margin-top:0;
    padding:15px 20px;
    background-color:#fff;
    opacity:0;
}

/*
Bandar Botanic Master Slider
*/
#botanic-master-slide-1{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-master-1.jpg);
    opacity:0;
    transform: scale(3,3);
    background-position: top;
}
#text-botanic-master-1{
    left:-100%;
    right:100%;
    background-image:url(/wp-content/uploads/2016/08/slide-master-slide-1-shape.png);
    background-repeat:no-repeat;
    background-size:cover;
    padding: 3% 20px 2% 20px;
    opacity:1;
    bottom:10%;
    opacity:0;
    display:none;
}
#text-botanic-master-1 p{
    max-width:1200px;
    margin:0 auto;
    opacity:0;
}
#map-botanic-master-1{
    max-width:1200px;
    width:100%;
    margin:0 auto;
    top:160px;
    opacity:0;
    transform: translate(-50%, -50%);
    left: 50%;
}
#map-botanic-master-1 h5{
    color:#333;
}
#map-botanic-master-1 img{
    position: absolute;
    left: 50%;
    margin-left: -31%;
    transform:scale(4,2);
    opacity:0;
}

#botanic-master-slide-2{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-master-2.png);
    background-position:bottom;
    background-repeat:no-repeat;
    bottom:0;
    height:0
}
#text-botanic-master-2-left{
    padding:2% 2% 2% 2%;
    width:48%;
    top:200px;
    left:-100%;
    background-image:url(/wp-content/uploads/2016/08/slide-master-slide-2-shape-left.png);
    background-repeat:no-repeat;
    background-size:cover;
}
#text-botanic-master-2-left .text-box-border{
    max-width: 500px;
    float: right;
}
#text-botanic-master-2-right{
    padding:3% 2% 3% 2%;
    width:48%;
    top:200px;
    right:-100%;
    background-image:url(/wp-content/uploads/2016/08/slide-master-slide-2-shape-right.png);
    background-repeat:no-repeat;
    background-size:cover;
}
#text-botanic-master-2-right .text-box-border{
    max-width: 500px;
    float: left;
    bottom:-100%;
}

#botanic-master-slide-3-left{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-master-3-left.jpg);
    top:0;
    opacity:0;
}
#botanic-master-slide-3-right{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-master-3-right.jpg);
    bottom:0;
    opacity:0;
}
#text-botanic-master-3-top{
    position:relative;
    margin-top: 10%; 
    padding: 20px 40px;
    background-image: url(/wp-content/uploads/2016/08/slide-master-slide-3-top.png);
    background-repeat:no-repeat;
    background-size:cover;
    float:left;
    opacity:1;
}
#text-botanic-master-3-bottom{
    position: relative;
    padding: 20px 30px 20px 35px;
    background-image: url(/wp-content/uploads/2016/08/slide-master-slide-3-bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    float:left;
    margin-top:15px;
}

#botanic-master-slide-4-left{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-master-4-left.jpg);
}
#botanic-master-slide-4-right{
    background-image:url(/wp-content/uploads/2016/08/botanic-slider-master-4-right.jpg);
}
#text-botanic-master-4{
    top:0;
}
#text-botanic-master-4-top{
    position:relative;
    margin-top: 10%; 
    padding: 20px 40px;
    background-image: url(/wp-content/uploads/2016/08/slide-master-slide-4-top.png);
    background-repeat:no-repeat;
    background-size:cover;
    float:left;
    opacity:1;
}
#text-botanic-master-4-bottom{
    position: relative;
    padding: 20px 30px 20px 35px;
    background-image: url(/wp-content/uploads/2016/08/slide-master-slide-4-bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    float:left;
    margin-top:15px;
}
#slide-bb-happenings{
    top:100%;
	height:100vh;
	background-image: url("http://128.199.89.40/wp-content/uploads/2016/07/bb-gallery-bg.jpg");
	background-size:cover;
	z-index:1;
}
#slide-bb-happenings>section{
	padding-bottom: 0px !important;
    position: absolute !important;
    right: 0;
    left: 0;
    top: 50%;
    bottom: 0;
	transform:translate(0, -50%);
}
#slide-bb-gallery{
    top:100%;
	height:100vh;
	background-image:  url("http://128.199.89.40/wp-content/uploads/2016/07/bb-happenings-bg.jpg");
	background-size:cover;
	z-index:1;

}
#slide-bb-gallery>section{
	padding-bottom: 0px !important;
    position: absolute !important;
    right: 0;
    left: 0;
    top: 50%;
    bottom: 0;
    transform: translate(0, -50%);
    height: 100vh;
    padding-top: 120px;

}
#slide-bb-other-dev{
    top:100%;
	height:100vh;
	background-image: url("http://128.199.89.40/wp-content/uploads/2016/07/bb-other-dev-bg.jpg");
	background-size:cover;
	z-index:0;
}
#slide-bb-other-dev>section{
	padding-bottom: 0px !important;
    position: absolute !important;
    right: 0;
    left: 0;
    top: 50%;
    bottom: 0;
	transform:translate(0, -50%);
}

@media only screen and (max-width:1400px) {
.page-id-987 p{
	font-size:15px;
}
.page-id-987 .text-box h5{
	font-size:24px;
}
#map-botanic-master-1{
	padding:0 20px;
}
#map-botanic-master-1 img {
    width: 50%;
	left:57%;
}
#text-botanic-master-1{
	padding: 3% 25px 2% 25px;
}
}

@media only screen and (max-width:1200px) {
#map-botanic-master-1 img {
    width: 60%;
}
}

@media (min-width:1025px) and (max-width:1400px) {
#text-botanic-land-2 h5 {
    right: 60px;
    top: 55%;
}
#text-botanic-master-3{
	width:100%;
	margin-left:0;
}
#text-botanic-master-3-top{
	width:35%;
	margin-left:25px;
}
#text-botanic-master-3-bottom{
	width:47%;
	margin-top:120px;
}
#text-botanic-master-4{
	width:100%;
	margin-left:0;
}
#text-botanic-master-4-top{
	width: 35%;
	margin-left:25px;
}
#text-botanic-master-4-bottom{
	width: 47%;
    margin-left: 25px;
	margin-top:120px;
}
#slide-bb-gallery .w-portfolio.with_indents .w-portfolio-list {
    margin: 4px auto;
	width: 85%;
	text-align: center;
	left: 0;
	right: 0;
}
#slide-bb-gallery .w-portfolio.cols_4 .w-portfolio-item {
    width: 25%;
}
#slide-bb-gallery>section{
	padding-top: 5vh;
}
}
