.page-id-6647 .l-canvas{
	background-color:transparent;
}
.page-id-6647 #fp-nav li .active span, .fp-slidesNav .active span{
	background: #ee2e24;
}
.page-id-6647 ::selection{
	background-color:transparent;
}
.full-bg{
	height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
	z-index:-1;
}
#text-botanic-land-1{
	opacity:0;
    -webkit-transition: all 0.3s ease-out 0.15s;
    -moz-transition: all 0.3s ease-out 0.15s;
    -o-transition: all 0.3s ease-out 0.15s;
    transition: all 0.3s ease-out 0.15s;
}
#botanic-land-slide-1{
	opacity:1;
}
#text-botanic-land-2{
	opacity:0;
}
#text-botanic-land-2.active{
	opacity:1;
}