.page-id-900 footer{
	padding-right:120px;
}
.page-id-900 .modal-info, .page-id-900 .modalVideo, .page-id-3351 .modal-info, .page-id-3351 .modalVideo{
	padding-right:0 !important;
}
.page-id-900 .modal-info .container, .page-id-3351 .modal-info .container{
	position:relative;
}
.page-id-900 .modal-info .close {
	position:absolute;
	top:80px;
	right:0;
	margin:0;
}
.page-id-900 ul.video-modal-buttons, .page-id-3351 ul.video-modal-buttons{
	margin:0;
	list-style: none;
	position: absolute;
    right: 30px;
    top: 30px;
	z-index:10;
}
.page-id-900 ul.video-modal-buttons li, .page-id-3351 ul.video-modal-buttons li{
	display: inline-block;
    vertical-align: middle;
	margin-left:5px;
	width:40px;
}
/*.page-id-900 .modalVideo .close{
	position:absolute;
	top:40px;
	right:40px;
	margin:0;
	text-shadow:none;
	opacity:1;
	z-index:100;
}*/
.modalVideo .modal-body{
	padding:0;
}
.page-id-900 .modal-info, .mobile-slide-page.kota-kemuning .modal-info, .page-id-900 .modalVideo, .mobile-slide-page.kota-kemuning .modalVideo {
    height:100vh;
	background-color: rgba(265,265,265,.95);
    overflow:scroll;
}
.page-id-900 .modal-info::-webkit-scrollbar, .mobile-slide-page.kota-kemuning .modal-info::-webkit-scrollbar, .page-id-900 .modalVideo::-webkit-scrollbar, .mobile-slide-page.kota-kemuning .modalVideo::-webkit-scrollbar {
    display:none;
}
.page-id-900 .modal-info .modal-dialog, .page-id-900 .modalVideo .modal-dialog,
.page-id-3351 .modal-info .modal-dialog, .page-id-3351 .modalVideo .modal-dialog{
	width:100%;
	margin:0;
}
.page-id-900 .modal-info .modal-content, .page-id-900 .modalVideo .modal-content,
.page-id-3351 .modal-info .modal-content, .page-id-3351 .modalVideo .modal-content{
	height: 100vh;
    box-shadow: none;
    border-radius: 0
}
.page-id-900 .modal-header, .page-id-3351 .modal-header{
	border-bottom:none;
	padding:25px 0;
}
.page-id-900 .btn-popup-watchvideo, .page-id-3351 .btn-popup-watchvideo {
	box-shadow: 0 0 0 2px #333 inset !important;
    color: #333 !important;
    padding: 5px 0 !important;
	cursor:pointer;
}
.page-id-900 .btn-popup-watchvideo:before, .page-id-3351 .btn-popup-watchvideo:before {
    background-color: #333 !important;
}
.page-id-900 .btn-popup-watchvideo:hover, .page-id-3351 .btn-popup-watchvideo:hover {
    color:#fff !important;
}
.custom-container {
	margin: 0;
	padding: 0 0 0 0;
	width: 100%;
	/*background: blue;*/
}

.full {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

.first-container {
	background: url(/wp-content/uploads/2016/08/kota-kemuning-slider-home.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center center;
}

.second-container {
	background: url(/wp-content/uploads/2016/08/kota-kemuning-full-02.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-right:120px;
}

.text-container {
	width: 70%;
	left: 50%;
	transform: translate(-50%, 0);
	position: relative;
	/*background: white;*/
}

.header-one p {
	display: inline-block;
	margin: 80px auto auto auto;
	font-size: 25px;
	font-weight: bold;
    color: #153F09;
	line-height:28px;
}

.text-one p {
	display: inline-block;
	margin: 40px auto auto auto;
	font-size: 40px;
	font-weight: bold;
    line-height: 100%;

    background: -webkit-linear-gradient(135deg, #153F09, #898C00);
    background: linear-gradient(135deg, #153F09, #898C00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.third-container {
	padding-right:120px;
}


.half {
	height: 50vh;
}

.first-half {
	position: relative;
	background: url(/wp-content/uploads/2016/08/kota-kemuning-half-01.png);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.second-half {
	position: relative;
	background: url(/wp-content/uploads/2016/08/kota-kemuning-half-02.png);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.first-half2 {
	position: relative;
	background: url(/wp-content/uploads/2016/08/kota-kemuning-half-03.png);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.second-half2 {
	position: relative;
	background: url(/wp-content/uploads/2016/08/kota-kemuning-half-04.png);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	overflow: hidden;
}

.first-half3 {
	position: relative;
	background: url(/wp-content/uploads/2016/08/kota-kemuning-half-05.png);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.second-half3 {
	position: relative;
    /*background: url(/wp-content/uploads/2016/08/white-abstract-e1472038340571.png);*/
    background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.kk-awards-section ul{
	margin:0;
	list-style:none;
}
.kk-awards-section ul li{
	display:inline-block;
	vertical-align:middle;
	width:33%;
	text-align:center;
}
.circle {
	position: absolute;
	margin: 0;
	width: 94vw;
    height: 1800px;
    background: url(/wp-content/uploads/2016/08/white-abstract-e1472038340571.png);
    border-radius: 50%;
    opacity: 1;
}

.firstTop {
    top: 0;
    left: 0;
    transform: translate(-45vw, -900px);
}

.firstBottom {
	bottom: 0;
	right: 0;
    transform: translate(45vw, 900px);
}

.topMessageOne {
	position: relative;
    display: inline-block;
	height: 50vh;
	width: 80%;
	left: 50%;
	transform: translate(-50%, 0);
}

.topMessageOne p {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bottomMessageOne {
	position: relative;
    display: inline-block;
	height: 50vh;
	width: 70%;
	left: 40%;
	transform: translate(-50%, 0);
}

.bottomMessageOne p {
	position: relative;
    top: 50%;
    right: 50%;
    transform: translate(120%, -50%);
}

.secondCircle {
	position: absolute;
    margin: 0;
    width: 155vw;
    height: 1400px;
    background: url(/wp-content/uploads/2016/08/white-abstract-e1472038340571.png);
    border-radius: 50%;
    opacity: 1;
}
.secondCircleTitle{
    position: absolute;
    left: 10%;
    top: 0;
    text-align: center;
    width: 23%;
}
.secondCircleTitle .header-three{
    position: absolute;
    font-size: 30px;
    color: #00601b;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.secondTop {
	top: 50%;
	right: 0;
	transform: translate(97vw, -60%);
}

.secondBottom {
	bottom: 50%;
	left: 0;
	transform: translate(-106vw, 60%);
}
.header-two {
	display: block;
	margin: -60px auto 40px auto;
	font-size: 40px;
	font-weight: bold;
    line-height: 100%;

    background: -webkit-linear-gradient(135deg, #153F09, #898C00);
    background: linear-gradient(135deg, #153F09, #898C00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-two {
	display: block;
}

.topMessageTwo {
	position: relative;
	display: inline-block;
	height: 50vh;
	width: 64%;
	right: 10%;
	transform: translate(30%, 0);
}

.topMessageTwo p {
	position: relative;
    top: 50%;
    right: 50%;
    transform: translate(120%, -50%);
}

.bottomMessageTwo p {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bottomMessageTwo {
	position: relative;
    display: inline-block;
	height: 50vh;
	width: 70%;
	left: 50%;
	transform: translate(-50%, 0);
}

.fourth-container {
	background: url(/wp-content/uploads/2016/08/kota-kemuning-full-03.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-right:120px;
}

.fifth-container {
	height: auto;
/*
	background: url(/wp-content/uploads/2016/09/kota-kemuning-map.jpg);
	background-size: cover;
	background-repeat: no-repeat;
*/
	padding-right:120px;
	position:relative;
}

.fifth-container .text-container {
	position: absolute;
}
#Image-Maps-Com-image-maps-2016-09-23-005131 {
	width: 100%;
}

/* .topMessageThree {
	position: absolute;
    text-align:center;
    color:#fff;
    transform:translate(-50%, -50%);
    left:50%;
    top:50%;
}

.topMessageThree p.messageThreeTopHeader {
	position: relative;
    font-size:30px;
    line-height:40px;
    margin-bottom:15px;
} */

.containerNew {
    height:50vh;
}
.containerNew .header-one{
	width:100%;
}
.containerNew .header-one{
	margin-bottom:40px;
}
.containerNew table td{
    border-color:transparent;
}
.containerNew h2{
    font-size:30px;
    color:#35804a;
    margin:0;
}
.threeEqualDiv {
	position: relative;
/*	height: 50vh;*/
}

.smallCircle {
/*	position: absolute;*/
/*    margin: 0;*/
/*    left: 0;*/
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
    opacity: 1;
}

.kk-three-circles{
	position:absolute;
	top:50%;
	left:45%;
	margin-left: -60px;
	transform:translate(-50%, -50%);
}

.kk-three-circles .arrow-bg{
	background-repeat:no-repeat;
	background-size: 100% 100%;
	position:absolute;
}

.kk-three-circles ul{
	margin:0;
}
.kk-three-circles ul li:nth-child(1), .kk-three-circles ul li:nth-child(2){
	width:65px;
}
.kk-three-circles ul li{
	list-style: none;
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
    font-size: 40px;
    color: #fff;
    line-height: 39px;
    font-weight: 700;
}
.trigger-modal-btn{
	cursor:pointer;
}
.arrow-golf-course{
	background-image:url(/wp-content/uploads/2016/08/arrow-bg-golf-course.png);
	padding: 20px 80px 20px 20px;
	top:50%;
	left:-10%;
	transform:translate(-50%, -50%);
}

.arrow-recreational-parks{
	background-image:url(/wp-content/uploads/2016/08/arrow-bg-residential-park.png);
	padding: 20px 20px 20px 80px;
    top: 26%;
    right: -22%;
    transform: translate(50%, -50%);
}

.arrow-residential-cluster{
	background-image:url(/wp-content/uploads/2016/08/arrow-bg-residential-cluster.png);
    padding: 20px 20px 20px 80px;
    top: 73%;
    right: -21%;
    transform: translate(50%, -50%);
}

#kk-indicator.scroll-indicator{
    background-color:#1e1e1e;
    height: 100vh;
    border-radius: 0;
    width: 120px;
    padding: 0 10px;
	top: 0;
    bottom: 0;
    transform: inherit;
	box-shadow: -4px 0 10px rgba(0,0,0, .5);
	transition: width ease 0.3s;
}
#kk-indicator.scroll-indicator:hover { width:210px; }
#kk-indicator p { display:none; font-size:12px; text-align:left; width:140px; }
#kk-indicator:hover p { display:inline-block; margin-left:10px; }
#kk-indicator.scroll-indicator ul{
    margin-left:0;
    position:relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%;

}
#kk-indicator.scroll-indicator ul li{
    margin: 30px 0;
    text-align: center;
	cursor:pointer;
}
#kk-indicator.scroll-indicator:hover ul li{ width: 190px; overflow: hidden; }
#kk-indicator .indicator-circle{
    width:16px;
    height:16px;
    background-color:transparent;
}

.page-id-900 .g-filters-list_custom .g-filters-item, .page-id-900 .g-filters-list_custom .g-filters-item.active{
    color:#fff;
}

#kk-indicator  #iHome {
	background-color: #0c5b06;
}

#kk-indicator #iHome.inactive-kk-home {
	background-color: transparent !important;
}

.active-kk-overview {
	background: #4a6b09 !important;
}

.active-kk-concept {
	background: #5b840b !important;
}

.active-kk-vision {
	background: #6a9a0d !important;
}

.active-kk-map {
	background: #98b10d !important;
}

.active-kk-happenings {
	background: #a7c20e !important;
}

.active-kk-gallery {
	background: #b6d509 !important;
}

.active-kk-more {
	background: #d5c909 !important;
}

@media only screen and (max-width:1200px) {
.page-id-900 .modal-info .close{
	top:15px;
}
.page-id-900 .modal-info .modal-content p{
	line-height:21px;
}
.page-id-900 .modal-info .modal-content .header-one p{
	line-height:28px;
}
.firstTop{
	margin-left:14vw;
}
.page-id-900 .container{
	width:100%;
}

.kk-three-circles{
	left:45%;
}
.topMessageTwo {
    width: 65% !important;
	transform: translate(16%, 0);
}
.bottomMessageOne {
    width: 55% !important;
    left: 38% !important;
}
.page-id-900 .modal-info .modal-content .modal-body .header-one p{
	margin-top:15px;
}
}
@media only screen and (max-width:1400px) {
.header-two {
	font-size: 36px;
}
.secondCircleTitle .header-three{
	font-size:24px;
}
.kk-three-circles{
	width:34%;
}
.kk-three-circles ul li{
	font-size:24px;
	line-height:26px;
}

.arrow-golf-course {
    padding: 20px 50px 20px 20px;
}

.arrow-recreational-parks{
	padding: 20px 20px 20px 50px;
}

.arrow-residential-cluster{
    padding: 20px 20px 20px 50px;
}
.topMessageOne{
	 width: 86%;
}
.bottomMessageOne{
	 left: 39%;
}
.topMessageTwo{
	width:72% !important;
	right: 18%;
}
.bottomMessageTwo{
	width:89% !important;
}
}