.scroll-long{
	height:200vh;
	position:absolute;
	bottom:0;
	left:0;
	width:50%;
	z-index:1;
	opacity:0;
    /* -webkit-transition: bottom 0.6s linear 0s;
    -moz-transition: bottom 0.6s linear 0s;
    -o-transition: bottom 0.6s linear 0s;
    transition: bottom 0.6s linear 0s; */
}
/* .scroll-long.scroll-long1{
	bottom:-200vh !important;
    -webkit-transition: bottom 0.6s linear 0s;
    -moz-transition: bottom 0.6s linear 0s;
    -o-transition: bottom 0.6s linear 0s;
    transition: bottom 0.6s linear 0s;
} */
.scroll-long .bg-wrap-left, .scroll-long .bg-wrap-right{
	width:100% !important;
}
.scroll-long .half-kundang{
    background-image:url(../../img/mile-kundang-left.jpg);
	//top:100vh;
	position:relative;
	//bottom:0;
	//left:0;
	height:100vh;
	background-size:cover;
	top:inherit;
}
.scroll-long .half-houses-30000{
    background-image:url(../../img/mile-30000-houses-left.jpg);
	//top:0;
	position:relative;
	//bottom:100vh;
	//left:0;
	height:100vh;
    opacity:0;
	background-size:cover;
	top:inherit;
}
.scroll-long .half-robertson{
    background-image:url(../../img/mile-the-robertson-left.jpg);
	top:100vh;
	position:absolute;
	bottom:0;
	left:0;
	height:100vh;
	background-size:cover;
}
.scroll-long .half-landbank{
    background-image:url(../../img/mile-our-land-bank-left.jpg);
	top:0;
	position:absolute;
	bottom:100vh;
	left:0;
	height:100vh;
    opacity:0;
	background-size:cover;
}
.scroll-long .half-gamudacity{
    background-image:url(../../img/mile-gamuda-city-left.jpg);
	top:100vh;
	position:absolute;
	bottom:0;
	left:0;
	height:100vh;
	background-size:cover;
}
.scroll-long .half-gamudaland{
    background-image:url(../../img/mile-10000-houses-left.jpg);
	top:0;
	position:absolute;
	bottom:100vh;
	left:0;
	height:100vh;
    opacity:0;
	background-size:cover;
}
.year-circle{
    position:relative;
    left:0 !important;
    top:0 !important;
}
/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
.page-id-349 .l-canvas{background-color:transparent;}
.page-id-349 .fp-tooltip{
    color: #AAA;
}
.page-id-349 #fp-nav span, .fp-slidesNav span{
    border-color: #AAA;
}
.page-id-349 #fp-nav li .active span, .fp-slidesNav .active span{
    background: #ee2e24;
}

#fp-nav ul li a span{
    width: 12px;
    height: 12px;
    background-color: #d7d7d7;
    margin: -6px 0 0 -6px;
}
.page-id-349 .more-about-us-section{
	position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.page-id-349 .more-about-us-section h3{
	color:#e2231a;
	font-size:28px;
}
.page-id-349 .more-about-us-section .pp-img{
	padding-left:0 !important;
	padding-right:5px !important;
}
.page-id-349 .more-about-us-section .np-img{
	padding-left:5px !important;
	padding-right:0 !important;
}
.page-id-349 .section{
    background-size: cover;
    background-position: center;
}
.page-id-349 #section1{
    background-image:url(../../img/mile-home.jpg);
}
.page-id-349 #section2{
    background-image:url(../../img/mile-gem.jpg);
}
.page-id-349 #section3{
    background-image:url(../../img/mile-kundang.jpg);
}
.page-id-349 #section4{
    background-image:url(../../img/mile-30000-houses.jpg);
}
.page-id-349 #section5{
    background-image:url(../../img/mile-bukit-bantayan.jpg);
}
.page-id-349 #section6{
    background-image:url(../../img/mile-we-win-the-tender.jpg);
}
.page-id-349 #section7{
    background-image:url(../../img/mile-gamuda-enters-australian.jpg);
}
.page-id-349 #section8{
    background-image:url(../../img/mile-highpark.jpg);
}
.page-id-349 #section9{
    background-image:url(../../img/mile-the-robertson.jpg);
}
.page-id-349 #section10{
    background-image:url(../../img/mile-our-land-bank.jpg);
}
.page-id-349 #section11{
    background-image:url(../../img/mile-madge-mansions.jpg);
}
.page-id-349 #section12{
    background-image:url(../../img/mile-celadon-city.jpg);
}
.page-id-349 #section13{
    background-image:url(../../img/mile-jade-hills.jpg);
}
.page-id-349 #section14{
    background-image:url(../../img/mile-gamuda-enter-iskandar.jpg);
}
.page-id-349 #section15{
    background-image:url(../../img/mile-gamuda-city.jpg);
}
.page-id-349 #section16{
    background-image:url(../../img/mile-10000-houses.jpg);
}
.page-id-349 #section17{
    background-image:url(../../img/mile-bandar-botanic.jpg);
}
.page-id-349 #section18{
    background-image:url(../../img/mile-introudction-first-resort.jpg);
}
.page-id-349 #section19{
    background-image:url(../../img/mile-kota-kemuning.jpg);
}
.page-id-349 #section20{
    background-image:url(../../img/mile-establised.jpg);
}
.page-id-349 #section21{
	background-image: url(/wp-content/uploads/2016/07/main-bg.jpg);
	height:55vh !important;
}
.milestone-footer{
    height:auto !important;
    text-align:left !important;
}