/*
Theme Name: Impreza Child
Template: Impreza
Version: 1.0
Author:	UpSolution
Theme URI: http://impreza.us-themes.com/
Author URI: http://us-themes.com/
*/
/*
@import url(https://fonts.googleapis.com/css?family=Doppio+One);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import 'https://fonts.googleapis.com/css?family=Lato';
*/

/* latin-ext */
@font-face {
  font-family: 'Doppio One';
  font-style: normal;
  font-weight: 400;
  src: local('Doppio One Regular'), local('DoppioOne-Regular'), url(https://fonts.gstatic.com/s/doppioone/v4/vX75dKv8e7RM59WCf4mUTiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Doppio One';
  font-style: normal;
  font-weight: 400;
  src: local('Doppio One Regular'), local('DoppioOne-Regular'), url(https://fonts.gstatic.com/s/doppioone/v4/DGr_HuCg-_zePcleoqvEX_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(http://fonts.gstatic.com/s/dancingscript/v7/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://fonts.gstatic.com/s/lato/v11/XNVd6tsqi9wmKNvnh5HNEBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*
General
*/
a:focus{
	text-decoration:none;
}
.mobile-main-nav { display: none; }

a:hover{
    text-decoration: none !important;
}
.doppio-font, h3, h2{
    font-family: Lato !important;
    line-height: 38px;

}
.dancing-script{
    font-family: "Dancing Script" !important;
}
.lato-font, p{
    font-family: Lato !important;
    font-size:18px;
}
.page-breadcrumbs p{
    font-size:14px;
}
.page-breadcrumbs a:hover{
	text-decoration:underline !important;;
}
.page-breadcrumbs a:focus{
	color: #ee2e24;
}
.w-nav-item:not(.level_1).current-menu-item > .w-nav-anchor{
    color:#333 !important;
}
.no-touch .l-subheader.at_middle a:hover{
    color:#ee2e24 !important;
}
/*
Header
*/
.navi-disable{
    pointer-events: none;
}

header .ush_image_2, .l-header.sticky .ush_image_2{
    height:auto !important;
	width:100%;
}
header .l-subheader-cell.at_left > * {
    margin-right:10px;
}
header .header_hor .l-subheader, header .header_hor .l-header.sticky .l-subheader.at_middle, .header_hor .l-subheader{
    padding-left:20px;
    padding-right:20px;
}
.w-nav.type_desktop:not(.height_full){
    line-height:60px;
}
.l-header .ush_btn_1 .w-btn.style_solid{
    border:1px solid #fff !important;
}

.l-header.sticky .ush_btn_1 .w-btn.style_solid{
    border:1px solid #ee2e24 !important;
    color:#ee2e24 !important;
}
a.w-nav-anchor.level_1:focus, a.w-nav-anchor.level_3:focus{
    color:#ee2e24;
    text-decoration: none;
}
.w-nav-list.level_1 li.dropdown-nav>a{
    border-bottom:2px solid transparent;
}
.w-nav-list.level_1 li.dropdown-nav:hover>a{
    color:#333 !important;
    background-color:#d7d7d7 !important;
    border-bottom:2px solid #ee2e24;
}
.w-nav-list.level_1 li.dropdown-nav:hover>a span:after{
    display:none !important;
}
.nav-drop a.w-nav-anchor.level_2{
    line-height:12px !important;
    pointer-events: none;
    padding-left:10px !important;
}
.nav-drop a.level_2 span.w-nav-title{
    color:#ee2a22;
    font-size:10px;
    font-weight:bold;
}
.nav-drop.nav-drop1-2 a.level_2 span.w-nav-title,
.nav-drop.nav-drop1-3 a.level_2 span.w-nav-title{
    visibility:hidden;
}
.nav-drop a.level_2 span.w-nav-title span{
    font-weight:normal;
}
.nav-drop a.w-nav-anchor.level_3{
    line-height:14px !important;
    padding: 7px 10px !important;
}
.nav-drop a.level_3 span.w-nav-title span{
    font-size:10px;
}
.nav-drop1-1, .nav-drop1-2, .nav-drop1-3{
    width:13%;
    padding-right:0 !important;
}
.nav-drop2, .nav-drop3, .nav-drop4{
    width:20%;
    padding: 0 35px !important;
}
.nav-drop2, .nav-drop3{    
    border-left:solid 1px #fff;
}
.nav-drop3{    
    border-right:solid 1px #fff;
}

.page-id-9 .l-header.bg_transparent:not(.sticky) .l-subheader, .page-id-13 .l-header.bg_transparent:not(.sticky) .l-subheader, .page-id-11 .l-header.bg_transparent:not(.sticky) .l-subheader, .page-id-2810 .l-header.bg_transparent:not(.sticky) .l-subheader, .page-id-4158 .l-header.bg_transparent:not(.sticky) .l-subheader, .page-id-4169 .l-header.bg_transparent:not(.sticky) .l-subheader, .single-post .l-header.bg_transparent:not(.sticky) .l-subheader, .page-id-6961 .l-header.bg_transparent:not(.sticky) .l-subheader, .page-id-7014 .l-header.bg_transparent:not(.sticky) .l-subheader{
    color:#ee2a22 !important;
}
.page-id-9 .l-header .ush_btn_1 .w-btn.style_solid, .page-id-13 .l-header .ush_btn_1 .w-btn.style_solid, .page-id-11 .l-header .ush_btn_1 .w-btn.style_solid, .page-id-2810 .l-header .ush_btn_1 .w-btn.style_solid, .page-id-4158 .l-header .ush_btn_1 .w-btn.style_solid, .page-id-4169 .l-header .ush_btn_1 .w-btn.style_solid, .single-post .l-header .ush_btn_1 .w-btn.style_solid, .page-id-6961 .l-header .ush_btn_1 .w-btn.style_solid, .page-id-7014 .l-header .ush_btn_1 .w-btn.style_solid{
    color:#ee2a22;
}
.page-id-9 .l-header .ush_btn_1 .w-btn.style_solid, .page-id-13 .l-header .ush_btn_1 .w-btn.style_solid, .page-id-11 .l-header .ush_btn_1 .w-btn.style_solid, .page-id-2810 .l-header .ush_btn_1 .w-btn.style_solid, .page-id-4158 .l-header .ush_btn_1 .w-btn.style_solid, .page-id-4169 .l-header .ush_btn_1 .w-btn.style_solid, .single-post .l-header .ush_btn_1 .w-btn.style_solid, .page-id-6961 .l-header .ush_btn_1 .w-btn.style_solid, .page-id-7014 .l-header .ush_btn_1 .w-btn.style_solid{
    border:1px solid #ee2a22 !important;
}

/*
Register Form
*/
.land-register .container-fluid{
    min-height:120px;
    display:table;
    width:100%;
}
.land-register .main-reg-left{
    border-right:1px solid #fff;
    padding-bottom:15px;
    display:table-cell;
    float:none;
    text-align:right;
}
.land-register .main-reg-right{
    display:table-cell;
    float:none;
}
.land-register a.main-reg-button{
    position:absolute;
    left:15px;
    top:50%;
    transform:translate(0, -50%);
}
.land-register a.main-reg-button, .land-register a.main-reg-button:hover, .land-register a.main-reg-button:focus{
    font-size: 15px;
    color:#fff;
    padding:10px 15%;
    border:2px solid #fff;
}


/*
Random image
*/
#random-img-container.desktop img {
    width: 100%;
    display:block;
}
#random-img-container.mobile img {
    width: 100%;
    display:none;
}

.fade-in {
    -webkit-animation: fade-in 2s ease;
    -moz-animation: fade-in ease-in-out 2s both;
    -ms-animation: fade-in ease-in-out 2s both;
    -o-animation: fade-in ease-in-out 2s both;
    animation: fade-in 2s ease;
    visibility: visible;
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}   


/* 
Calculator 
*/
.side-bar-calculator .l-section-h{
	padding:0;
}
.side-banner {
    background-color: #ee2a22;
    position: fixed;
    top: 0; bottom: 0; left: 0;
    margin: auto;
    height: 190px;
    text-align: center;
    color: white;
    font-size: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 100;
}
.side-banner.desktop{
    display:block;
}
.side-banner.mobile{
    display:none;
}
.side-banner .buyers-guide,
.side-banner .calculator {
    margin: 10px 15px 5px 15px;
    cursor: pointer;
}
.side-banner .buyers-guide img {
    width: 60px;
    margin-right: -10px;
}
.side-banner .calculator img {
    width: 55px;
}
.side-banner .buyers-guide p,
.side-banner .calculator p {
    margin: 0;
    line-height:14px;
    font-size: 12px !important;
}
.side-banner-separator {
    border: 1px solid #ec110f;
    margin: 0 5px;
}
.calculator-overlay {
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 200;
}
.calculator-popup {
    background-color: #dedede;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto !important;
    padding: 35px 30px;
    width: 600px;
    height: 500px;
    overflow: hidden;
    display: none;
    z-index: 300;
}
.calculator-row {
    margin: 20px 0;
}
.calculator-title h2 {
    color: #ee2a22;
    font-size: 25px;
    margin: 0 0 20px 0;
    padding-bottom: 15px;
    border-bottom: 2px solid #bbb;
}
.close-calculator {
    position: absolute;
    font-size: 35px;
    top: -2px;
    right: 12px;
    transform: rotate(225deg);
    cursor:pointer;
}
.close-calculator:before{
    content: "\e6a5";
    font-family: mdfonticon;
}
.calculator-item {
    height: 46px;
    display: table;
}
.calculator-item h3 {
    margin: 0;
    font-size: 17px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 800;
}
.calculator-item h3 span {
    font-size: 15px;
    font-weight: 400;
}
.calculator-input input {
    border-radius: 0;
    -webkit-appearance: none;
}
.calculator-input select {
    border-radius: 0;
    -webkit-appearance: none;
    line-height: 18px !important;
}
.calculator-btn {
    margin: 0;
}
.calculator-btn .reset-btn button,
.calculator-btn .submit-btn button {
    width: 100%;
    height: 46px;
    border: 2px solid #ee2a22;
}
.calculator-btn .reset-btn button {
    background: none;
    color: #ee2a22;
    font-size: 18px;
}
.calculator-btn .submit-btn button {
    background-color: #ee2a22;
    color: white;
    font-size: 18px;
}
.disclaimer-text {
    margin: 20px 15px;
    font-weight: 500;
}
.disclaimer-text p {
    font-size: 15px;
}
.disclaimer-text p span {
    color: #ee2a22;
}
.result-box {
    display: none;
}
.result-box-seperator {
    margin: 0 15px;
}
.result-box-seperator hr {
    padding: 0;
    margin: 25px 0 0 0;
    border-top: 2px solid #bbb;
}

.slider-breadcrumbs{
    position: fixed;
    top: 80px;
    z-index: 10;
    width: 100%;
    color:#fff;
}
.slider-breadcrumbs p{
	max-width:1200px;
	margin:0 auto;
}
.slider-breadcrumbs a:hover{
    color:#ee2a22 !important;
    text-decoration:underline !important;
}
.slider-breadcrumbs span{
    color:#ee2a22;
}

.cff-likebox{
    margin:0 !important;
}

/* Mouse Wheel */
.mouse{
    margin: 50px auto;
    width: 100px;
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%, 0);
    z-index:1;
}
.mouse-icon{
    width: 27px;
    height: 42px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.mouse-wheel{
  height: 6px;
  margin: 8px auto 0;
  display: block;
  width: 6px;
  background-color: white;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
 -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
}
	
@-webkit-keyframes wheel-up-down {
	0% {
	    margin-top: 10px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}

	100% {
	    margin-top: 15px;
	    opacity: 0;
	}
}
@media only screen and (max-width:1200px) {
p{
    font-size: 15px;
    line-height: 18px;
}
}
@media (min-width:768px) and (max-width:1024px) {
.slider-mouse { max-width:30px !important; max-height:46px !important; }
.slider-mouse span { margin: -4px 0 0 -4px !important; font-size:11px !important; }
.slider-mouse-text { font-size:12px !important; }
.header_hor .l-subheader{
    padding-left:10px;
    padding-right:10px;
}
.l-subheader-cell.at_left{
    width:15%;
}
.l-header.sticky .ush_image_2{
    width:100%;
}
.header_hor .ush_menu_1.type_desktop .w-nav-list.level_1 > .menu-item > a {
    padding: 0 10px !important;
}
}
@media only screen and (max-width:768px) {
.landing_slider1 .tp-bgimg{
	    background-image: url(/wp-content/uploads/2016/09/potrait-landing-slider1.jpg) !important;
}
.landing_slider2 .tp-bgimg{
	    background-image: url(/wp-content/uploads/2016/09/potrait-landing-slider2.jpg) !important;
}
.landing_slider3 .tp-bgimg{
	    background-image: url(/wp-content/uploads/2016/09/potrait-landing-slider3.jpg) !important;
}
p{
    font-size: 3.3vw;
    line-height: 5vw;
}
.l-footer.layout_compact .l-subfooter.at_top{
    display:none;
}
#random-img-container.desktop img {
    width: 100%;
    display:none;
}
#random-img-container.mobile img {
    width: 100%;
    display:block;
}

.land-register .container-fluid{
    display:block;
}
.land-register .main-reg-left{
    border-right:0;
    display:block;
    text-align:center;
}
.land-register .main-reg-right{
    display:block;
    text-align:center;
    padding-top:20px;
    padding-bottom:30px;
}
.land-register a.main-reg-button{
    position:relative;
    left:auto;
    top:auto;
    transform:none;
}
.calculator-popup{
	width:100%;
	height:80%;
	max-height:560px;
	padding: 15px;
	overflow: scroll;
	top:50px;
}
.calculator-popup::-webkit-scrollbar{
	display:none;
}
.close-calculator {
    font-size: 25px;
    top: 0;
}
.calculator-row {
    margin: 5px 0;
}
.calculator-btn btn{
	line-height:inherit;
}
.calculator-item {
    height: auto;
}
.calculator-title h2{
	font-size:22px;
	line-height:26px;
	margin-bottom:10px;
}
.calculator-item h3{
	font-size:15px;
}
.calculator p, .buyers-guide p{
	display:none;
}
.side-banner .calculator img{
	width:30px;
}
.side-banner .buyers-guide img{
	width:47px;
}
.side-banner{
	height:100px;
}
.side-banner .buyers-guide, .side-banner .calculator{
	margin:5px;
}
.side-banner .buyers-guide{
	margin-top:10px;
}
.w-img-h, .mobile-main-nav-logo{ width:60%; }
.mobile-main-nav { display: block; }
.header_hor .w-nav.type_mobile .w-nav-control, .ush_btn_1 { display: none; }
.mobile-main-header-wrap {
    width: 100%;
    text-align: right;
    height: 50px;
}
.mobile-main-header-wrap span {
    font-size: 25px;
    line-height: 50px;
}

/* Mobile Main Nav Common */
.mobile-main-nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0; left: 100vw;
    background-color: #d7d7d7;
    overflow: hidden;
    z-index: 500;
}
.mobile-main-nav-header {
    background-color: white;
    height: 50px;
}
.mobile-main-nav-header .mobile-main-nav-logo {
    line-height: 50px;
    margin-left: 15px;
}
.mobile-main-nav-header .mobile-main-nav-logo img { width: 43%;; }
.mobile-main-nav-header .mobile-main-nav-close {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 25px;
    background-color: #eb312e;
    text-align: center;
    line-height: 50px;
    float: right;
    top: 0;
	position:relative;
}
.mobile-main-nav-header .mobile-main-nav-close img{
	position:absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

/* Mobile Main Nav All */
.mobile-main-nav-all ul.list-unstyled, .mobile-main-nav-projects-list ul.list-unstyled{
    margin:0;
}
.mobile-main-nav-all ul li {
    height: 60px;
    padding-left: 15px;
    border-bottom: 2px solid white;
    position: relative;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}
.mobile-main-nav-all ul li a {
    color: #eb312e;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
    display: block;
	width: 80vw;
}
.mobile-main-nav-all .fa-angle-right {
    font-size: 36px;
    color: #eb312e;
    line-height: 60px;
    position: absolute;
    right: 15px;
	top:0;
}
.mobile-main-nav-register {
    width: 95%;
    height: 50px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
    border: 1px solid #eb312e;
    color: #eb312e;
    margin: 10px auto 0 auto;
}
.mobile-main-nav-sns { margin: 20px 0 0 10px; }
.mobile-main-nav-sns .fa { font-size: 28px; color:#ee2a22; margin-right:20px; }
.mobile-main-nav-facebook { width: 20px; }
.mobile-main-nav-instagram { width: 40px; }

/* Mobile Main Nav Projects */
.mobile-main-nav-projects-list {
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 50px;
}
.mobile-main-nav-projects ul {  border-bottom: 2px solid white; }
.mobile-main-nav-projects ul:last-child { border-bottom: 0; }
.mobile-main-nav-projects ul li {
    font-size: 18px;
    font-weight: 600;
    margin: 18px 15px;
    position: relative;
}
.mobile-main-nav-projects ul li:first-child { color: #eb312e; }
.mobile-main-nav-projects ul li a {
    color: #333;
    display: block;
}
.mobile-main-nav-projects ul li a span {
    display: block;
    font-size: 14px;
    line-height: 14px;
}
.mobile-main-nav-projects .fa-angle-left {
    font-size: 36px;
    color: #eb312e;
    position: absolute;
    top: -5px;
	right: 0;
}
}
@media only screen and (max-width:600px) {
    .side-banner.desktop{
        display:none;
    }
    .side-banner.mobile{
        display:block;
        height:50px;
        top:inherit;
        border-radius:0;
    }   
    .side-banner.mobile a, .side-banner.mobile p{
        display:inline-block;
        vertical-align: middle;
        text-align:left;
    }
    .side-banner .buyers-guide{
        margin:0;
        padding:9px 7px 7px 7px;
    }
    .side-banner .calculator{
        margin:0;
        padding:7px;
    }
    .calculator p, .buyers-guide p{
        display:block;
    }
}